{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | {{ buying_package|title }} Package</title>
    <meta name="description" content="Checkout for {{ buying_package|title }} donation package" hx-preserve="true" hx-head="re-eval">
</head>

{% if user.is_authenticated %}

<div class="d-flex justify-content-center">
    <div class="d-flex w-50 flex-column">
        <p class="text-center text-white fs-3">
            Minecraft Username: {{request.user.user_profile_info.minecraft_username}}
        </p>
        <p class="text-center text-white fs-6">
            If the above username is not correct or is empty, go to your profile and set the correct Minecraft Username.
        </p>
        <div class='d-flex justify-content-center'>
            <a class="htmxLink btn btn-secondary w-50 mb-5" type="button"
            href="/{{base_user_url}}/{{request.user.username|slugify}}"
            hx-get="/raptormc/api/html/{{base_user_url}}/{{request.user.username|slugify}}"
            hx-target='#home'
            hx-swap='innerHTML'
            hx-push-url="/{{base_user_url}}/{{request.user.username|slugify}}"
            >
                Go to Profile
            </a>
        </div>
        <a role="button" class="btn btn-success"
            href="{% url "donations:stripe_redirect" package=buying_package %}"
            >
            Checkout
        </a>
    </div>
</div>

{% else %}

<div class="d-flex justify-content-center">
    <form class="form p-3 text-white"
        enctype="multipart/form-data"
        method='post'
        action="{% url "donations:stripe_redirect" package=buying_package %}"
    >     
        {% csrf_token %} 
        {% bootstrap_field minecraft_username_form.minecraft_username %}
        <button class="btn btn-success" type='submit'>
            Checkout
        </button>

    </form>
</div>

{% endif %}