{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | {{ buying_package.name }} Package</title>
    <meta name="description" content="Checkout for {{ buying_package.name }} donation package" hx-preserve="true" hx-head="re-eval">
</head>

{% if user.is_authenticated %}

<div class='container'>
    <div class='card bg-dark m-3 p-3' >
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <form class="form p-3 text-white"
                    enctype="multipart/form-data"
                    method='post'
                    action="{% url "donations:stripe_redirect" package=buying_package.pk %}"
                >   
                    {% csrf_token %}
                    <div class="text-white text-center fs-4 mt-2 mb-2">
                        <div class="d-flex flex-column">
                            <p class='fs-3'>
                                {{buying_package.name}}
                            </p>
                            {% if buying_package.variable_price %}
                            {% else %}
                            <p class='fs-1'>
                                ${{buying_package.price}}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-white fs-4 mt-3 mb-3">
                        {{buying_package.package_description|safe}}
                    </div>
                    <hr>
                    {% if not single_gateway %}
                    <div class="d-flex flex-column">
                        {% bootstrap_field donation_gateway_form.payment_gateway %}
                    </div>
                    {% endif %}
                    {% if buying_package.servers.count > 0 %}
                        {% if request.user.discord_user_info %}
                        <p class="text-center text-white fs-3">
                            Discord Tag: <span class='fs-2 text-bold text-decoration-underline'>{{request.user.discord_user_info.tag}}</span>
                        </p>
                        {% else %}
                        {% bootstrap_field discord_username_form.discord_username %}
                        {% endif %}
                        <p class="text-center text-white fs-3">
                            Minecraft Username: <span class='fs-2 text-bold text-decoration-underline'>{{request.user.user_profile_info.minecraft_username}}</span>
                        </p>
                        <p class="text-center text-white fs-6">
                            If the above Minecraft Username is not correct or empty, go to your profile and set the correct Minecraft Username.
                        </p>
                        <div class='d-flex justify-content-center mb-3'>
                            <a class="htmxLink btn btn-secondary w-50 mb-2" type="button"
                            href="/{{base_user_url}}/{{request.user.username|slugify}}"
                            hx-get="/raptormc/api/html/{{base_user_url}}/{{request.user.username|slugify}}"
                            hx-target='#home'
                            hx-swap='innerHTML'
                            hx-push-url="/{{base_user_url}}/{{request.user.username|slugify}}"
                            >
                                Go to Profile
                            </a>
                        </div>
                    {% endif %}
                    <div class="d-flex flex-column">
                        {% if buying_package.variable_price %}
                        {% bootstrap_field donation_price_form.chosen_price %}
                        {% endif %}
                        <button class="btn btn-success" type='submit'>
                            Checkout
                        </button>
                        <p class='fs-9 text-center mt-2'>
                            Clicking the above button will redirect you to the payment processor 
                            to complete this donation. Make sure to confirm the above information 
                            before clicking Checkout!
                        </p>
                    </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class='container'>
    <div class='card bg-dark m-3 p-3' >
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <form class="form p-3 text-white"
                    enctype="multipart/form-data"
                    method='post'
                    action="{% url "donations:stripe_redirect" package=buying_package.pk %}"
                >     
                    {% csrf_token %}
                    <div class="text-white text-center fs-4 mt-2 mb-2">
                        <div class="d-flex flex-column">
                            <p class='fs-3'>
                                {{buying_package.name}}
                            </p>
                            {% if buying_package.variable_price %}
                            {% else %}
                            <p class='fs-1'>
                                ${{buying_package.price}}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-white fs-4 mt-3 mb-3">
                        {{buying_package.package_description|safe}}
                    </div>
                    <hr>
                    {% if not single_gateway %}
                    <div class="d-flex flex-column">
                        {% bootstrap_field donation_gateway_form.payment_gateway %}
                    </div>
                    {% endif %}

                    <div class='d-flex flex-column'>
                        {% bootstrap_field donation_details_form.minecraft_username %}
                        {% if buying_package.servers.count > 0 %}
                            {% bootstrap_field donation_details_form.discord_username %}
                        {% endif %}
                        {% if buying_package.variable_price %}
                        {% bootstrap_field donation_price_form.chosen_price %}
                        {% endif %}
                        <button class="btn btn-success" type='submit'>
                            Checkout
                        </button>
                        <p class='fs-9 text-center mt-2'>
                            Clicking the above button will redirect you to the payment processor 
                            to complete this donation. Make sure to confirm the above information 
                            before clicking Checkout!
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}