{% load static %}

<div id='donation_box'>

    <div class="pagination d-flex align-items-center justify-content-center mb-3">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a role="button" class="btn btn-secondary"
                hx-get="{% url 'donations:donations' %}?page=1"
                hx-target="#donation_box"
                >
                &laquo; First
                </a>
                <a role="button" class="btn btn-secondary"
                hx-get="{% url 'donations:donations' %}?page={{ page_obj.previous_page_number }}"
                hx-target="#donation_box"
                >
                    Previous
                </a>
            {% endif %}

            <span class="current text-white">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a role="button" class="btn btn-secondary"
                hx-get="{% url 'donations:donations' %}?page={{ page_obj.next_page_number }}"
                hx-target="#donation_box"
                >
                    Next
                </a>
                <a role="button" class="btn btn-secondary"
                hx-get="{% url 'donations:donations' %}?page={{ page_obj.paginator.num_pages }}"
                hx-target="#donation_box"
                >
                    Last &raquo;
                </a>
            {% endif %}
        </span>
    </div>

    <div class='d-flex flex-column gap-4'>
    {% for package in page_obj %}
        <div class='d-flex justify-content-center m-0'>
            <button type='button' class="btn btn-secondary w-75"
                data-bs-toggle="collapse"
                data-bs-target="#{{package.minecraft_username}}{{package.pk}}Package_box"
            >
                <div class='row'>
                    <div class='col-md-6 align-items-center'>
                        <p>Time of Donation: {{package.donation_datetime}}</p>
                        <p>Minecraft Username: {{package.minecraft_username}}</p>
                        <p>Discord Username: {{package.discord_username}}</p>
                        <p>Bought Package: {{package.bought_package}}</p>
                    </div>
                    <div class='col-md-6'>
                        {% if package.completed and package.bought_package.discord_roles.all.count == 0 and package.bought_package.commands.all.count == 0 %}
                            <img class='p-3 w-50' src="{% static 'image/online_indicator.svg' %}" alt="Completed"
                            data-bs-toggle="tooltip"
                            data-bs-html="true"
                            data-bs-title="Donation Completed">
                        {% else %}
                        
                            {% if package.discord_username %}
                                {% if package.completed and package.sent_commands_count > 0 and package.gave_roles_count > 0 %}
                                    <img class='p-3 w-50' src="{% static 'image/online_indicator.svg' %}" alt="Completed"
                                        data-bs-toggle="tooltip"
                                        data-bs-html="true"
                                        data-bs-title="Donation Completed">
                                {% else %}
                                    <img class='p-3 w-50' src="{% static 'image/offline_indicator.svg' %}" alt="Incomplete"
                                        data-bs-toggle="tooltip"
                                        data-bs-html="true"
                                        data-bs-title="Donation Incomplete">
                                {% endif %}
                            {% else %}
                                {% if package.completed and package.sent_commands_count > 0 %}
                                    <img class='p-3 w-50' src="{% static 'image/online_indicator.svg' %}" alt="Completed"
                                        data-bs-toggle="tooltip"
                                        data-bs-html="true"
                                        data-bs-title="Donation Completed">
                                {% else %}
                                    <img class='p-3 w-50' src="{% static 'image/offline_indicator.svg' %}" alt="Incomplete"
                                        data-bs-toggle="tooltip"
                                        data-bs-html="true"
                                        data-bs-title="Donation Incomplete">
                                {% endif %}
                            {% endif %}
                        {% endif%}
                    </div>
                </div>
            </button>
        </div>
        <div id="{{package.minecraft_username}}{{package.pk}}Package_box" class='collapse'>
            <div class="card bg-light m-1 p-3 opacity-75 d-flex flex-column">
                <div class="w-100 text-center">
                    <strong>{{package.name}}</strong>
                </div>
                <div class="w-100 text-center d-flex flex-column">
                    <p>
                        Donating User: {{package.donating_user}}
                    </p>
                    <p>
                        Minecraft Username: {{package.minecraft_username}}
                    </p>
                    <p>
                        Discord Username: {{package.discord_username}}
                    </p>
                    <hr>
                    <p>
                        Bought Package: {{package.bought_package}}
                    </p>
                    <p>
                        Amount Spent: {{package.spent}}
                    </p>
                    <p>
                        Session ID: {{package.session_id}}
                    </p>
                    {% if package.checkout_id %}
                    <p>
                        Stripe Checkout ID: {{package.checkout_id}}
                    </p>
                    {% else %}
                    <p>
                        Paypal Invoice ID: {{package.paypal_invoice}}
                    </p>
                    {% endif %}
                    <hr>
                    <p>
                        Times commands were sent: {{package.sent_commands_count}}
                    </p>
                    <p>
                        Times roles were given: {{package.gave_roles_count}}
                    </p>
                    <p>
                        Completed and paid: {{package.completed}}
                    </p>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <form>
                            {% csrf_token %}
                            <button class='btn btn-success m-2'
                                    hx-post="{% url 'donations:resend' %}?id={{package.id}}&do_commands=true&do_roles=false"
                                    hx-swap='none'
                            >
                                Re-send Server Commands
                            </button>
                        </form>
                        <form>
                            {% csrf_token %}
                            <button class='btn btn-success m-2'
                                    hx-post="{% url 'donations:resend' %}?id={{package.id}}&do_commands=false&do_roles=true"
                                    hx-swap='none'
                            >
                                Re-give Discord Roles
                            </button>
                        </form>
                    <form>
                        {% csrf_token %}
                        <button class='btn btn-danger m-2'
                                hx-post="{% url 'donations:donation_delete' %}?donation_id={{package.id}}"
                                hx-swap='none'
                                data-bs-toggle="tooltip"
                                data-bs-html="true"
                                data-bs-title="DANGER: You cannot reverse a deleted donation!"
                        >
                            Delete Donation
                        </button>    
                    </form>                          
                    </div>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
    </div>  
</div>

<script>
    try {
        tooltipTriggerList
    } catch (error) {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    }
</script>
