{% load static %}
{% load donationTags %}

<div id='donation_package_box'>
    {% if page_obj.has_next %}
    <div class="pagination d-flex align-items-center justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a role="button" class="btn btn-secondary"
                hx-get="{% url 'donations:packages' %}?page=1"
                hx-target="#donation_package_box"
                >
                &laquo; First
                </a>
                <a role="button" class="btn btn-secondary"
                hx-get="{% url 'donations:packages' %}?page={{ page_obj.previous_page_number }}"
                hx-target="#donation_package_box"
                >
                    Previous
                </a>
            {% endif %}

            <span class="current text-white">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a role="button" class="btn btn-secondary"
                hx-get="{% url 'donations:packages' %}?page={{ page_obj.next_page_number }}"
                hx-target="#donation_package_box"
                >
                    Next
                </a>
                <a role="button" class="btn btn-secondary"
                hx-get="{% url 'donations:packages' %}?page={{ page_obj.paginator.num_pages }}"
                hx-target="#donation_package_box"
                >
                    Last &raquo;
                </a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    
    {% if show_recent_donators %}
    <div class="container" id="donation_list"
         hx-get="{% url 'donations:donations_public' %}"
         hx-trigger="load"
         hx-target="#donation_list"
         hx-swap="innerHTML">
    </div>
    {% endif %}

    {% if show_donation_goal %}
    <div class="container">
        <div class='card bg-dark m-3 p-2'>
            <div class='pageHeader text-white text-center p-1'>
                Monthly Donation Goal Progress: 
                <span class='fs-2'>{{donation_goal_progress}}/{{donation_goal}} {{donation_currency|upper}}</span>
            </div>
            <div class="progress" role="progressbar" aria-label="Donation Goal Progress"
                 aria-valuenow="{{donation_goal_percent}}"
                 aria-valuemin="0"
                 aria-valuemax="100"
            >
                <div class="progress-bar bg-success" style="width: {{donation_goal_percent}}%">
                    {{donation_goal_percent|convert_to_int}}%
                </div>
            </div>
        </div>    
    </div>
    {% endif %}

    <div class="row">
        {% for package in page_obj %}
        <div class="col-md-4 col-12">
            <a class="htmxLink"
                data-bs-toggle="modal"
                data-bs-target="#packageModal{{package.pk}}"
            >
                <div id="package_box" class="card bg-light m-3 p-3 opacity-75">
                    <div id="profile_picture_box" class="mx-auto d-block">
                        {% if package.package_picture %}
                        <img class="w-100"
                            src="{{ package.package_picture.url }}"
                            alt="Package Picture">
                        {% else %}
                        <img id="noPackagePicture" class="filter-white p-2 w-100"
                            src="{% static 'image/no_user.svg' %}"
                            alt="Package Picture">
                        {% endif %}
                    </div>
                    <div class="col-10 w-100 text-center">
                        <strong>{{package.name}}</strong>
                    </div>
                </div>
            </a>
        </div>
        <div id="packageModal{{package.pk}}" class="modal fade" tabindex="-1" aria-labelledby="{{package.name}} Details" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content bg-dark text-white">
                    <button class="btn-close btn-close-white m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-header d-flex flex-column">
                        <p class='fs-3'>
                            {{package.name}}
                        </p>
                        {% if package.variable_price %}
                        {% else %}
                        <p class='fs-3'>
                            ${{package.price}}
                        </p>
                        {% endif %}
                    </div>
                    <div class="modal-body" id="edit_profile_modal_body">
                        {{package.package_description|safe}}
                    </div>
                    <div class="modal-footer justify-content-center">

                        <a role="button" class="btn btn-outline-success"
                        href="/donations/checkout/{{package.name|slugify}}"
                        hx-get="{% url 'donations:checkout' package=package.name|slugify %}"
                        hx-target='#home'
                        hx-push-url="/donations/checkout/{{package.name|slugify}}"
                        hx-indicator="#mainLoadingspinner,.loaded-content"
                        onclick='closeModal()'
                        >
                        Go to Checkout
                        </a>
                
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>