<head hx-head="merge">
  <title>{{ site_info_model.brand_name }} | Banned Items</title>
  <meta name="description" content="{{ Banneditems_Information.content|striptags }}" hx-preserve="true" hx-head="re-eval">
</head>

<section id="bannedItemsIntro" class="container mt-4">

  {% if Banneditems_Information.enabled %}
  <header class="card bg-dark opacity-75 text-white p-4">
    <h3 class="pageHeader fw-bold text-center mb-2">
      {% if Banneditems_Information.content_header %}{{ Banneditems_Information.content_header }}{% else %}{{ site_info_model.brand_name }} Banned Items{% endif %}
    </h3>
    <hr>
    <div class="pageContent">
      {{ Banneditems_Information.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<section id="bannedItemBoxes" class="m-0 mb-3 mt-4">

  <div class="accordion opacity-75 mt-2 container" id="bannedItemAccordion">
    <div id="server_banned_items"
        hx-get="{% url 'gameservers:server_banned_items_poll' %}{% if request.GET %}?server={{opened_server_pk}}{% endif %}"
        hx-trigger="load"
        hx-target="#server_banned_items"
        hx-swap="outerHTML">
    </div>
  </div>

</section>
