<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Donation Success</title>
    <meta name="description" content="{{ Donations_Information.content|striptags }}" hx-preserve="true" hx-head="re-eval">
</head>
  
<section id="donationSuccess" class="container mt-4">

    <header class="card bg-dark opacity-75 text-white p-4">
        <h3 class="pageHeader fw-bold text-center mb-2">Donation Successful!</h3>
        <hr>
        <div class="pageContent">
        Your donation has been processed successfully! Your benefits will be automatically issued shortly.
        Thank you so much for your donation!
        </div>
    </header>

</section>
