<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Donation Already Made</title>
    <meta name="description" content="{{ Donations_Information.content|striptags }}" hx-preserve="true" hx-head="re-eval">
</head>

<section id="donationAlreadyMade" class="container mt-4">

    <header class="card bg-dark opacity-75 text-white p-4">
        <h3 class="pageHeader fw-bold text-center mb-2">Donation Already Made</h3>
        <hr>
        <div class="pageContent">
            You have already donated for this Package, and you are not
            allowed to donate for this package more than once.
        </div>
    </header>

</section>
