{% load markdownStrip %}

<head hx-head="merge">
  <meta name="theme-color" content="{{ site_info_model.main_color }}" hx-preserve="true">
  <meta name="keywords" content="{{ site_info_model.meta_keywords }}" hx-preserve="true" hx-head="re-eval">
  <meta name="description" content="{{ site_info_model.meta_description }}" hx-preserve="true" hx-head="re-eval">
  <title>{{ site_info_model.brand_name }} | Home</title>
</head>

<section id="welcome" class="container mb-0 mt-4">

  {% if Homepage_Information.enabled %}
  <header class="card bg-dark opacity-75 text-white p-4">
    <h3 class="pageHeader fw-bold text-center mb-2">
      {% if Homepage_Information.content_header %}{{ Homepage_Information.content_header }}{% else %}Welcome to {{ site_info_model.brand_name }}{% endif %}
    </h3>
    <hr>
    <div class="pageContent">
      {{ Homepage_Information.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

{% if default_pages.announcements %}
<section id="discordAnnouncements" class="container mt-0">
  <header class="p-0 mt-4">

    {% autoescape off %}
      <div id="global_announcements"
            hx-get="{% url 'raptorbot:global_announcements_list' amount=5 %}"
            hx-trigger="load"
            hx-target="#global_announcements"
            hx-swap="outerHTML">
      </div>
  {% endautoescape %}

  </header>
</section>

{% endif %}
