<head hx-head="merge">
  <title>{{ site_info_model.brand_name }} | How to Join</title>
  <meta name="description" content="{{ Joining_Information.content|striptags }}" hx-preserve="true" hx-head="re-eval">
  <meta property="og:image" content="{% if site_info_model.avatar_image %}{{web_proto}}://{{pub_domain}}{{site_info_model.avatar_image.url}}{% endif %}" hx-preserve="true" hx-head="re-eval"/>
  <meta property="og:title" content="{{ site_info_model.brand_name }} | How to Join" />
  <meta property="og:description" content="{{ Joining_Information.content|striptags }}" />
  <meta property="og:url" content="{{web_proto}}://{{pub_domain}}/howtojoin" />
</head>

<section id="joiningIntro" class="container mt-4">

  {% if Joining_Information.enabled %}
  <header class="card bg-dark opacity-75 text-white p-4">
    <h3 class="pageHeader fw-bold text-center mb-2">Joining {{ site_info_model.brand_name }} Servers</h3>
    <hr>
    <div class="pageContent">
      {{ Joining_Information.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<section id="joinBoxes" class="row mt-3">

  {% if Using_the_CurseForge_Launcher.enabled %}
  <div class="col-12">
    <div class="card bg-light mt-4 opacity-75 container">
      <h3 class="pageHeader card-header fw-bold text-center text-break">CurseForge Launcher</h3>
      <div class="pageContent p-4">
        {{ Using_the_CurseForge_Launcher.content|safe }}
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}

  {% if Using_the_FTB_Launcher.enabled %}
  <div class="col-12">
    <div class="card bg-light mt-4 opacity-75 container">
      <h3 class="pageHeader card-header fw-bold text-center text-break">Feed the Beast App</h3>
      <div class="pageContent p-4">
        {{ Using_the_FTB_Launcher.content|safe }}
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}

  {% if Using_the_Technic_Launcher.enabled %}
  <div class="col-12">
    <div class="card bg-light mt-4 opacity-75 container">
      <h3 class="pageHeader card-header fw-bold text-center text-break">Technic Launcher</h3>
      <div class="pageContent p-4">
        {{ Using_the_Technic_Launcher.content|safe }}
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}

</section>
