body {

    background-size: auto;
    background-position: center top;
    background-repeat: no-repeat;

}

.navbar {

    opacity: 0.95;

}

.btn-dark {

    opacity: 0.75;

}

#particles-js {

    position: absolute;
    width: 100%;
    height: 60vh;

}
