.image-size-half {

    width: 40%;

}

.btn-dark {

    opacity: 0.75;

}

#totalPlayers {

    color: rgb(9, 164, 230);

}

#particles-js {

    position: absolute;
    width: 100%;
    height: 100%;

}
