//Bootstrap SCSS
// Base
@import './dep/bootstrap_scss/bootstrap.scss';
@import './dep/bootstrap_scss/functions';
@import './dep/bootstrap_scss/close';
@import './dep/bootstrap_scss/bootstrap-grid.scss';
@import './dep/bootstrap_scss/bootstrap-reboot.scss';
@import './dep/bootstrap_scss/bootstrap-utilities.scss';
@import './dep/bootstrap_scss/grid';
@import './dep/bootstrap_scss/variables';
@import './dep/bootstrap_scss/utilities';
@import './dep/bootstrap_scss/utilities/api';
// Component
@import './dep/bootstrap_scss/containers';
@import './dep/bootstrap_scss/buttons';
@import './dep/bootstrap_scss/variables';
@import './dep/bootstrap_scss/accordion';
@import './dep/bootstrap_scss/alert';
@import './dep/bootstrap_scss/badge';
@import './dep/bootstrap_scss/card';
@import './dep/bootstrap_scss/dropdown';
@import './dep/bootstrap_scss/images';
@import './dep/bootstrap_scss/list-group';
@import './dep/bootstrap_scss/maps';
@import './dep/bootstrap_scss/modal';
@import './dep/bootstrap_scss/nav';
@import './dep/bootstrap_scss/navbar';
@import './dep/bootstrap_scss/offcanvas';
@import './dep/bootstrap_scss/pagination';
@import './dep/bootstrap_scss/placeholders';
@import './dep/bootstrap_scss/popover';
@import './dep/bootstrap_scss/progress';
@import './dep/bootstrap_scss/reboot';
@import './dep/bootstrap_scss/root';
@import './dep/bootstrap_scss/spinners';
@import './dep/bootstrap_scss/tables';
@import './dep/bootstrap_scss/toasts';
@import './dep/bootstrap_scss/tooltip';
@import './dep/bootstrap_scss/transitions';
@import './dep/bootstrap_scss/type';
// Helpers
@import './dep/bootstrap_scss/helpers';
@import './dep/bootstrap_scss/helpers/clearfix';
@import './dep/bootstrap_scss/helpers/color-bg';
@import './dep/bootstrap_scss/helpers/colored-links';
@import './dep/bootstrap_scss/helpers/position';
@import './dep/bootstrap_scss/helpers/ratio';
@import './dep/bootstrap_scss/helpers/stacks';
@import './dep/bootstrap_scss/helpers/stretched-link';
@import './dep/bootstrap_scss/helpers/text-truncation';
@import './dep/bootstrap_scss/helpers/visually-hidden';
@import './dep/bootstrap_scss/helpers/vr';
// Forms
@import './dep/bootstrap_scss/forms';
@import './dep/bootstrap_scss/forms/floating-labels';
@import './dep/bootstrap_scss/forms/form-check';
@import './dep/bootstrap_scss/forms/form-control';
@import './dep/bootstrap_scss/forms/form-range';
@import './dep/bootstrap_scss/forms/form-select';
@import './dep/bootstrap_scss/forms/form-text';
@import './dep/bootstrap_scss/forms/input-group';
@import './dep/bootstrap_scss/forms/labels';
@import './dep/bootstrap_scss/forms/validation';

// Variable Definitions/Overrides
$bd-discord-tone: #7289da;
  
body {
    background-size: auto;
    background-position: center top;
    background-repeat: no-repeat;
}

#backgroundWrapper {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;

}

#discordBanner {
    width: 100%;
    height: 100%;
}

.navbar {
    opacity: 0.95;
}

.navbar-toggler-icon {
    opacity: 1.00;
}

.btn-dark {
    opacity: 0.75;
}

#topBox {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
}

.new_tab_icon {
    width: 15px;
}

#loadingSpinnerCount {
    width: 16%;
    position: relative;
}

.htmxLink:hover {
    cursor:pointer;
}

.htmxLink *:hover {
    cursor:pointer;
}

#profile_box {
    height: 140px
}

.loginSubmit button {
    width: 100%;
}

.serverBoxCollapseImage {
    width: 25px;
    height: 25px
}

.filter-white {
    filter: invert(44%) sepia(9%) saturate(362%) hue-rotate(7deg) brightness(97%) contrast(86%);
}

.htmx-indicator{
    display: none;
}

.htmx-request .htmx-indicator{
    display: inline;
}

.htmx-request.htmx-indicator{
    display: inline;
}

.htmx-request .loaded-content {
    display: none;
}

.htmx-request.loaded-content {
    display: none;
}

.fade-in-button {
    opacity: 1;
    animation-name: fadeInOpacityButton;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}

.btn-discord {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #{shade-color($bd-discord-tone, 10%)};
    --bs-btn-border-color: var(--bd-discord-tone);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-discord-tone, 30%)};
    --bs-btn-hover-border-color: #{shade-color($bd-discord-tone, 30%)};
    --bs-btn-focus-shadow-rgb: var(--bd-discord-tone);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-discord-tone, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-discord-tone, 20%)};
  }  

@keyframes fadeInOpacityButton {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 768px) {

    #navImage {
        width: 75%;
        height: 100%;
    }

    .pageHeader {
        font-size: xx-large;
    }

    #profile_picture_box {
        width: 60px
    }

    #login_register_box {
        width: 220px
    }

    .pageContent > * {
        font-size: large;
    }

    .serverAddressCopy {
        font-size: 1em;
    }

    .navbar-brand {
        width: 25%;
    }

    .indicatorImage {
        width: 25%;
    }

    #serverBoxNoQuery {
        width: 75%;
    }

    #navBrand {
        width: 50%;
    }
    
}

@media (max-width: 767px) {

    #navImage {
        width: 100%;
        height: 100%;
    }

    .pageHeader {
        font-size: medium;
    }

    #gameservers_chart_rendered {
        width: 100%
    }

    .pageContent > * {
        font-size: small;
    }

    .serverAddressCopy {
        font-size: 16px;
    }

    #profile_picture_box {
        width: 40px
    }

    #login_register_box {
        width: 140px
    }

    .indicatorImage {
        width: 30%;
    }

    .server_button {
        min-width: 40vh;
    }

    #serverBoxNoQuery {
        width: 100%;
    }

    #navBrand {
        width: 100%;
    }
    
}
