{% load static %}

<div class="container-flex">
    <div class="row">
        {% for loaded_user in current_members %}
            {% if loaded_user.tag %}
                <div class="col-md-4 col-12">
                    <a href="{{request.META.HTTP_REFERER}}{{loaded_user.username|slugify}}">
                        <div id="profile_box" class="card bg-light m-3 p-3 opacity-75">
                            <div id="profile_picture_box" class="mx-auto d-block">
                                <img class="w-100" src="{{loaded_user.profile_picture}}" alt="">
                            </div>
                            <div class="col-10 w-100 text-center">
                                <strong>{{loaded_user.username}}</strong>
                            </div>
                        </div>
                    </a>
                </div>
            {% else%}
                <div class="col-md-4 col-12">
                    <a href="{{request.META.HTTP_REFERER}}{{loaded_user.user.username}}">
                        <div id="profile_box" class="card bg-light m-3 p-3 opacity-75">
                            <div id="profile_picture_box" class="mx-auto d-block">
                                <img class="w-100" src="{{loaded_user.profile_picture.url}}" alt="">
                            </div>
                            <div class="col-10 w-100 text-center">
                                <strong>{{loaded_user.user.username}}</strong>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
