{% load static %}
{% load django_bootstrap5 %}

<link rel="stylesheet" href="{% static 'css/raptormc.css' %}">

<div class="bg-dark text-white p-1 mt-0 mb-0 opacity-100 container">
  {% if messages %}
  <div class="messages d-flex flex-column gap-2 mb-2">
      {% for message in messages %}
      <div class="badge bg-warning text-black">
          {{message}}
      </div>
      {% endfor %}
  </div>
  {% endif %}
  <form hx-post="{% url 'authprofiles:login' %}"
        hx-target="#user_login_form"
        hx-swap="innerHTML"
        hx-headers='{"NoToastNotifications": "true"}'
  >

    {% csrf_token %}
    {% bootstrap_form login_form %}

    <div class="loginSubmit opacity-100">
      {% bootstrap_button button_type="submit" content="Login" %}
    </div>
    
    <a role="button" type="button"
       class="btn btn-discord mt-2 opacity-100"
       hx-get="{% url 'authprofiles:login_oauth' %}"
       hx-headers='{"NoProcessHxRedirect": "true"}'
    >
      Login with Discord
    </a>

  </form>
</div>

{% if showDropdown %}

<script>
    if (!$('#profile_dropdown_toggle').hasClass("show")){
      $('#profile_dropdown_toggle').dropdown('toggle');
    }
</script>

{% endif %}
