{% load static %}
{% load django_bootstrap5 %}

<div class='bg-dark'>

    {% if mfa_complete %}
        {% comment %} Rendering nothing if mfa is complete {% endcomment %}
    {% else %}

        {% if showDropdown %}

        <script>
            console.log('doing the ting')
            if ($('#profile_dropdown_toggle').hasClass("show")){
                
            }
            else {
                console.log('toggling')
                $('#profile_dropdown_toggle').dropdown('toggle');
            }
        </script>

        {% endif %}

    <main class="d-flex flex-column justify-content-center" id="signin_mfa_form_replace">
        <div>
            <header class="text-white m-1 p-1">
                <p class="pageContent fw-bold text-center">
                    Please enter your MFA code below.
                </p>
            </header>
        </div>

        <div>
            {% if messages %}
            <div class="messages d-flex flex-column gap-2 mb-2">
                {% for message in messages %}
                <div class="badge bg-warning text-black">
                    {{message}}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form id="signin_mfa_form_alone" class="form p-1 text-white"
                hx-post="{% url 'authprofiles:mfa_login' %}"
                hx-swap="outerHTML"
                hx-target="#signin_mfa_form_replace"
                hx-headers='{"NoToastNotifications": "true"}'
            >
                <div class='d-flex flex-column justify-content-center'>
                    {% csrf_token %}
                    {{ form.captcha }} 
                    <div class="text-white">{% bootstrap_field signin_mfa_form.totp %}</div>
                    <input name='username' type="hidden" value="{{otp_username}}">
                    <button class="btn btn-success" type="submit">
                        Submit Code
                    </button>
                </div>

            </form>
        </div>
    </main>
    
    {% endif %}
</div>
