{% load django_bootstrap5 %}

{% if mfa_complete %}

    <div class="container">
        <header class="text-white p-4 mt-4">
            <h3 class="pageHeader fw-bold text-center">
                MFA setup completed successfully!
            </h3>
        </header>
    </div>

{% else %}

    <div id="otp_form_replace">
        {% if messages %}
        <ul class="messages alert alert-warning m-3 p-3">
        {% for message in messages %}
            {{message}}
        {% endfor %}
        </ul>
        {% endif %}
        <form id="otp_form_alone" class="form p-3 text-white"
            hx-post="{% url 'authprofiles:mfa_verify_setup' %}"
            hx-swap="outerHTML"
            hx-target="#otp_form_replace">
                
            {% csrf_token %}
            {{ form.captcha }} 
            <span class="text-white">{% bootstrap_field otp_form.totp %}</span>
            <button class="btn btn-success w-25" type="submit">
                Submit Code
            </button>

        </form>
        <div>
            <img class='filter-white' src="{{ otp_user.totp_qr_path }}" alt="Error loading QR">
        </div>
    </div>

{% endif %}
