{% load static %}
{% load django_bootstrap5 %}

<div class="container">
    <form class="form p-3 text-white" enctype="multipart/form-data" hx-post="{% url 'authprofiles:reset_password_confirm_form' user_reset_token=resetting_user_token%}" hx-swap="outerHTML">

        {% if messages %}
        <ul class="messages alert alert-warning">
        {% for message in messages %}
            {{message}}
        {% endfor %}
        </ul>
        {% endif %}
        
        {% csrf_token %} 
        {{ form.captcha }} 
        {% bootstrap_form final_password_reset_form %}
        {% bootstrap_button button_type="submit" content="Submit" %}
        {% bootstrap_button button_type="reset" content="Reset" %}

    </form>
</div>