{% load static %}
{% load django_bootstrap5 %}

<form class="form p-3 text-white" hx-post="{% url 'authprofiles:reset_password_form' %}" hx-swap="outerHTML">
    
    {% if messages %}
    <ul class="messages alert alert-warning">
      {% for message in messages %}
        {{message}}
      {% endfor %}
    </ul>
    {% endif %}

    {% csrf_token %} 
    {{ form.captcha }} 
    {% bootstrap_form password_reset_form %}
    {% bootstrap_button button_type="submit" content="Send Reset Link" %}

</form>
