{% load static %}

{% if user.is_authenticated %}
{% else %}
    <div hx-get="{% url 'authprofiles:login' %}" hx-trigger="load" hx-target="#user_login_form" hx-swap="innerHTML"></div>
    <div hx-get="{% url 'authprofiles:register' %}" hx-trigger="load" hx-target="#register_form_replace" hx-swap="innerHTML"></div>
    <div hx-get="{% url 'authprofiles:reset_password_form' %}" hx-trigger="load" hx-target="#reset_password_form_replace" hx-swap="outerHTML"></div>
{% endif %}

{% if user.is_authenticated %}
    <div class="float-end h-100 d-flex">
        <div class="dropstart m-auto">
        <button class="btn dropdown-toggle d-flex" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div id="profile_picture_box">
            {% if loaded_user.user_profile_info.profile_picture %}
                {% if loaded_user.is_staff %}
                <img id="profilePicture" class="border border-danger border-2 w-100" src="{{ loaded_user.user_profile_info.profile_picture.url }}" alt="Profile" onerror=this.src="{% static 'image/no_user.webp' %}">
                {% else %}
                <img id="profilePicture" class="border border-secondary border-2 w-100" src="{{ loaded_user.user_profile_info.profile_picture.url }}" alt="Profile" onerror=this.src="{% static 'image/no_user.webp' %}">
                {% endif %}
            {% else %}
                {% if loaded_user.is_staff %}
                <img id="noProfilePicture" class="border border-danger border-2 w-100" src="{% static 'image/no_user.webp' %}" alt="Profile">
                {% else %}
                <img id="noProfilePicture" class="border border-secondary border-2 w-100" src="{% static 'image/no_user.webp' %}" alt="Profile">
                {% endif %}
            {% endif %}
            </div>
        </button>
        <div class="dropdown-menu bg-dark">
            <div><span class="text-center text-white"><p class="text-white m-1">Welcome, {{user}}</p></span></div>
            <hr style="color: white">
            <div><a class="dropdown-item text-white mt-0 pt-0 htmxLink"
                hx-get="raptormc/api/html/{{user_path}}/{{user.get_username|slugify}}"
                hx-target='#home' hx-push-url='/{{user_path}}/{{user.get_username|slugify}}' >Profile</a></div>
            {% if user.is_staff %}
            <div><a class="dropdown-item text-white" href="{% url 'admin:index' %}">Admin</a></div>
            {% endif %}
            <div><a class="dropdown-item text-white" href="{% url 'authprofiles:logout' %}">Logout</a></div>
        </div>
        </div>
    </div>
{% else %}
    <div id="registeration_modal">
        <div class="modal fade" id="register_modal" tabindex="-1" aria-labelledby="Create Account" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content bg-dark text-white">
                    <button type="button" class="btn-close btn-close-white m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-header">
                        Create Account
                    </div>
                    <div class="modal-body" id="mod_app_modal_body">

                        <header class="bg-dark text-white p-1">
                            <p class="pageContent">User profiles, and functionality that comes with it, are still under development. Feel free to create an account now, to have access to it when it is finished.</p>
                            <p class="pageContent">You can either register manually with the form, or with Discord</p>
                        </header>
                    
                        <section>
                
                            <div class="p-3 container">
                            <a role="button" href="{% url 'authprofiles:login_oauth' %}" class="btn btn-discord w-100">
                                Register with Discord
                            </a>
                            </div>
                        
                        </section>
                        
                        <section>
                    
                            {% if registered %}
                            <div class="card bg-light p-3 opacity-75 container">
                                <h3 class="pageHeader fw-bold text-center">Thank you for creating an account!</h3>
                            </div>
                            {% else %}
                            <div class="bg-dark p-3 opacity-75 container">
                                <div id="register_form_replace"></div>
                            </div>
                            {% endif %}
                    
                        </section>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="reset_password_modal">
        <div class="modal fade" id="resetpass_modal" tabindex="-1" aria-labelledby="Reset Password" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content bg-dark text-white">
                    <button type="button" class="btn-close btn-close-white m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-header">
                        Reset Password
                    </div>
                    <div class="modal-body" id="mod_app_modal_body">

                        <header class="bg-dark text-white p-1">
                            <p class="pageContent">If you have forgotten the password for your account, you can send a password reset link to the email associated with your account here.</p>
                            <p class="pageContent">After clicking "Send Reset Link", wait for confirmation message to appear.</p>
                        </header>

                        <section>

                            {% if messages %}
                            <ul class="messages alert alert-warning">
                            {% for message in messages %}
                                {{message}}
                            {% endfor %}
                            </ul>
                            {% endif %}
                        
                        </section>
                        
                        <section>

                            <div class="bg-dark p-3 opacity-75 container">
                                <div id="reset_password_form_replace"></div>
                            </div>
                    
                        </section>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="float-end">
        <div class="dropstart">
            <button class="btn dropdown-toggle d-flex" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div id="profile_picture_box">
                <img id="noProfilePicture" class="border border-secondary border-2 w-100" src="{% static 'image/no_user.webp' %}" alt="Profile">
            </div>
            </button>
            <ul class="dropdown-menu bg-dark">

            <section class="opacity-75 w-100 container">

                {% if messages %}
                <ul class="messages alert alert-warning">
                {% for message in messages %}
                    {{message}}
                {% endfor %}
                </ul>
                {% endif %}
                <div id="user_login_form"></div>
                <div class="p-1 mb-0 text-center">
                <p class="pageContent text-white">No Account?<button id="registerModalButton" class="btn btn-primary mt-2 mb-0" data-bs-toggle="modal" data-bs-target="#register_modal">Register</button></p>
                <p class="pageContent text-white">Forgot Password?<button id="resetpassModalButton" class="btn btn-primary mt-2 mb-0 fs-6 p-1 pt-2 pb-2" data-bs-toggle="modal" data-bs-target="#resetpass_modal">Reset Password</button></p>
                </div>
                
            
            </section>
            
            </ul>
        </div>
    </div>
{% endif %}

<script>
    $(document).ready(function () {
        $("#registerModalButton").on("click", function () {
            $('.modal-backdrop').remove();
        });
        $("#resetpassModalButton").on("click", function () {
            $('.modal-backdrop').remove();
        });
    });
</script>