{% load static %}
{% load django_bootstrap5 %}

<form class="form p-3 text-white" enctype="multipart/form-data" hx-post="{% url 'authprofiles:user_profile_edit' profile_name=displayed_profile.username %}" hx-swap="outerHTML">

    {% if messages %}
    <ul class="messages alert alert-warning">
    {% for message in messages %}
        {{message}}
    {% endfor %}
    </ul>
    {% endif %}
    
    {% csrf_token %} 
    {{ form.captcha }} 
    {% bootstrap_form extra_edit_form %}
    {% bootstrap_button button_type="submit" content="Edit Details" %}
    {% bootstrap_button button_type="reset" content="Reset" %}

</form>
