{% load static %}

{% block page_title %}
<title>
  
  ShadowRaptor | {{object.username}}
  
</title>
{% endblock %}

{% block metadata %}
<meta property="og:title" content="ShadowRaptor | {{object.username}}" />
<meta property="og:description" content="User Profile for {{object.username}}" />
<meta property="og:url" content="{{web_proto}}://{{pub_domain}}/{{base_user_url}}/{{object.username}}" />
{% endblock %}

<div class="container">
    {% if user.is_authenticated and user.username == object.username %}
    <div class="card bg-dark m-3 p-3">
        <div class="row">
            <a role="button" href="{{web_proto}}://{{pub_domain}}/{{base_user_url}}/{{object.username}}/edit" class="btn btn-primary">
                Edit Profile Details
            </a>
        </div>
    </div>
    {% endif %}
    <div class="card bg-dark m-3 p-3 text-white">
        <p class="fs-4 text-center mb-0">{{object.username}}</p>
        <hr>
        <div class="row">
            <div class="col-lg-2 col-12 mb-3">
                {% if object.user_profile_info.profile_picture %}
                    {% if object.is_staff == True %}
                        <img id="profilePicturePage" class="border border-2 border-danger w-100" src="{{object.user_profile_info.profile_picture.url}}" alt="Profile Picture">
                    {% else %}
                        <img id="profilePicturePage" class="border border-2 border-secondary w-100" src="{{object.user_profile_info.profile_picture.url}}" alt="Profile Picture">
                    {% endif %}
                {% else %}
                    <img id="profilePicture" class="border border-secondary border-2 w-75" src="{% static 'image/no_user.webp' %}" alt="Profile">
                {% endif %}
            </div>
            <div class="col-lg-5 col-6 align-middle">
                <strong>Joined on:</strong> {{object.date_joined}}
                <br>
                <br>
                <strong>Last Active:</strong> {{object.last_login}}

            </div>
            <div class="col-lg-5 col-6 align-middle">
                {% if object.discord_user_info %}
                <strong>Discord Username:</strong> {{object.discord_user_info.tag}}
                <br>
                <br>
                {% endif%}
                <strong>Minecraft Username:</strong> {{object.minecraft_username}}
                <br>
                <br>
                <strong>Favorite Modpack:</strong> {{object.favorite_modpack|capfirst}}
            </div>
        </div>
    </div>
</div>