{% load static %}
<div class="container-flex">
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4 col-12">
            <a href="{{request.META.HTTP_REFERER}}{{object.username}}">
                <div id="profile_box" class="card bg-light m-3 p-3 opacity-75">
                    <div id="profile_picture_box" class="mx-auto d-block">
                        {% if object.user_profile_info.profile_picture %}
                            <img class="w-100" src="{{object.user_profile_info.profile_picture.url}}" alt="">
                        {% else %}
                            <img id="noProfilePicture" class="w-100" src="{% static 'image/no_user.webp' %}" alt="Profile Picture">
                        {% endif %}
                    </div>
                    <div class="col-10 w-100 text-center">
                        <strong>{{object.username}}</strong>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
