{% load static %}
{% load django_bootstrap5 %}

<div id="user_list_container" class="container-flex fade-in-main">
    {% comment %} User list filter form {% endcomment %}
    <div>
        <form id="user_list_filter_form" class="form p-3 text-white htmxLink"
            enctype="multipart/form-data" 
            hx-get="{% url 'authprofiles:all_user_profile' %}"
            hx-swap="innerHTML"
            hx-target="#all_profiles"
            hx-trigger='click,keyup delay:1s'
        >     
            {% csrf_token %} 
            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
            <div class="d-flex justify-content-evenly align-items-center">
                {% bootstrap_field user_filter_form.is_staff %}
                {% bootstrap_field user_filter_form.username %}
            </div>

        </form>
    </div>
    {% comment %} User list Pagination {% endcomment %}
    <div class="pagination d-flex align-items-center justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a role="button" class="btn btn-secondary"
                   hx-get="{% url 'authprofiles:all_user_profile' %}?page=1
                            &is_staff={{ form_data.is_staff }}&username={{ form_data.username }}"
                   hx-target="#user_list_container"
                   hx-push-url="{{base_user_url}}?page=1"
                >
                   &laquo; First
                </a>
                <a role="button" class="btn btn-secondary"
                   hx-get="{% url 'authprofiles:all_user_profile' %}?page={{ page_obj.previous_page_number }}
                            &is_staff={{ form_data.is_staff }}&username={{ form_data.username }}"
                   hx-target="#user_list_container"
                   hx-push-url="{{base_user_url}}?page={{ page_obj.previous_page_number }}"
                >
                    Previous
                </a>
            {% endif %}

            <span class="current text-white">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a role="button" class="btn btn-secondary"
                   hx-get="{% url 'authprofiles:all_user_profile' %}?page={{ page_obj.next_page_number }}
                            &is_staff={{ form_data.is_staff }}&username={{ form_data.username }}"
                   hx-target="#user_list_container"
                   hx-push-url="{{base_user_url}}?page={{ page_obj.next_page_number }}"
                >
                    Next
                </a>
                <a role="button" class="btn btn-secondary"
                   hx-get="{% url 'authprofiles:all_user_profile' %}?page={{ page_obj.paginator.num_pages }}
                            &is_staff={{ form_data.is_staff }}&username={{ form_data.username }}"
                   hx-target="#user_list_container"
                   hx-push-url="{{base_user_url}}?page={{ page_obj.paginator.num_pages }}"
                >
                    Last &raquo;
                </a>
            {% endif %}
        </span>
    </div>
    
    {% comment %} User List {% endcomment %}
    <div class="row justify-content-evenly">
        {% for raptoruser in page_obj %}
        <div class="user_card m-3">
            <a class="htmxLink d-block h-100"
                href="/{{base_user_url}}/{{raptoruser.username|slugify}}"
                hx-get="raptormc/api/html/{{base_user_url}}/{{raptoruser.username|slugify}}"
                hx-target='#home'
                hx-swap='innerHTML'
                hx-push-url="{{base_user_url}}/{{raptoruser.username|slugify}}"
            >
                <div id="profile_box" class="card bg-light m-3 p-3 opacity-75">
                    <div id="profile_picture_box" class="mx-auto d-block">
                    {% if raptoruser.user_profile_info.profile_picture %}
                        {% if raptoruser.is_staff == True %}
                        <img class="border border-2 border-danger w-100"
                                src="{{raptoruser.user_profile_info.profile_picture.url}}"
                                alt="Profile Picture">
                        {% else %}
                        <img class="border border-2 border-secondary w-100"
                                src="{{raptoruser.user_profile_info.profile_picture.url}}"
                                alt="Profile Picture">
                        {% endif %}   
                    {% else %}
                        {% if raptoruser.is_staff == True %}
                        <img id="noProfilePicture" class="filter-white border border-2 border-danger p-2 w-100"
                                src="{% static 'image/no_user.svg' %}"
                                alt="Profile Picture">
                        {% else %}
                        <img id="noProfilePicture" class="filter-white border border-2 border-secondary p-2 w-100"
                                src="{% static 'image/no_user.svg' %}"
                                alt="Profile Picture">
                        {% endif %}
                    {% endif %}
                    </div>
                    <div class="col-10 w-100 text-center">
                        <strong>{{raptoruser.username}}</strong>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
