{% load static %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | {{object.username}}</title>
    <meta name="description" content="User Profile for {{object.username}}" hx-preserve="true" hx-head="re-eval">
    <meta property="og:title" content="{{ site_info_model.brand_name }} | {{object.username}}" />
    <meta property="og:description" content="User Profile for {{object.username}}" />
    <meta property="og:url" content="{{web_proto}}://{{pub_domain}}/{{user_path}}/{{object.username}}" />
    {% if object.user_profile_info.profile_picture %}
        <meta property="og:image" content="{{web_proto}}://{{pub_domain}}{{object.user_profile_info.profile_picture.url}}" hx-preserve="true" hx-head="re-eval"/>
    {% else %}
        <meta property="og:image" content="{% if site_info_model.avatar_image %}{{web_proto}}://{{pub_domain}}{{site_info_model.avatar_image.url}}{% endif %}" hx-preserve="true" hx-head="re-eval"/>
    {% endif %}
</head>

{% if object != False %}
{% if object.is_superuser and request.user.is_superuser != True %}
{% include "raptormc/404.html" %}
{% else %}

<div class="container">
    {% if user.is_authenticated and user.username == object.username %}
    <div class="modal fade" id="edit_profile_modal" tabindex="-1" aria-labelledby="Edit Profile" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark text-white">
            <button type="button" class="btn-close btn-close-white m-3" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
                Edit Profile
            </div>
            <div class="modal-body" id="edit_profile_modal_body">
            
                <div id="edit_profile_replace"
                hx-get="{% url 'authprofiles:user_profile_edit' profile_name=object.user_slug %}"
                hx-trigger="load" hx-target="#edit_profile_replace" hx-swap="innerHTML"></div>
            
            </div>
        </div>
    </div>
    </div>

    <div class="m-3 p-3">
        <div class="row"> 
            <button role="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_profile_modal">
                Edit Profile Details
            </button>
            {% if messages %}
            <ul class="messages alert alert-warning">
            {% for message in messages %}
                {{message}}
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="card bg-dark m-3 p-3 text-white">
        <p class="fs-4 text-center mb-0">{{object.username}}</p>
        <hr>
        <div class="row">
            <div class="col-lg-2 col-12 mb-3">
                {% if object.user_profile_info.profile_picture %}
                    {% if object.is_staff == True %}
                        <img id="profilePicturePage" class="border border-2 border-danger w-100" src="{{object.user_profile_info.profile_picture.url}}" alt="Profile Picture">
                    {% else %}
                        <img id="profilePicturePage" class="border border-2 border-secondary w-100" src="{{object.user_profile_info.profile_picture.url}}" alt="Profile Picture">
                    {% endif %}
                {% else %}
                    {% if object.is_staff == True %}
                        <img id="profilePicture" class="border border-danger border-2 w-100" src="{% static 'image/no_user.webp' %}" alt="Profile">
                    {% else %}
                        <img id="profilePicture" class="border border-secondary border-2 w-100" src="{% static 'image/no_user.webp' %}" alt="Profile">
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-lg-5 col-6 align-middle">
                <strong>Joined on:</strong> {{object.date_joined}}
                <br>
                <br>
                <strong>Last Active:</strong> {{object.last_login}}

            </div>
            <div class="col-lg-5 col-6 align-middle">
                {% if object.discord_user_info %}
                <strong>Discord Username:</strong> {{object.discord_user_info.tag}}
                <br>
                <br>
                {% endif%}
                <strong>Minecraft Username:</strong> {{object.user_profile_info.minecraft_username}}
                <br>
                <br>
                <strong>Favorite Modpack:</strong> {{object.user_profile_info.favorite_modpack|capfirst}}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% else %}
{% include "authprofiles/no_user.html" %}
{% endif %}