{% load django_bootstrap5 %}

{% if registered %}
<div class="container">
    <header class="card bg-dark opacity-75 text-white p-4 mt-4">
        <h3 class="pageHeader fw-bold text-center">Thank you for creating an account! You can now log in using the user dropdown menu.</h3>
    </header>
</div>
{% else %}
<form id="register_form_alone" class="form p-3 text-white" hx-post="{% url 'authprofiles:register' %}" hx-swap="outerHTML" hx-target="#register_form_alone">
          
  {% csrf_token %}
  {{ form.captcha }} 
  <span class="text-white">{% bootstrap_form register_form %}</span>
  {% bootstrap_button button_type="submit" content="Create Account" %}
  {% bootstrap_button button_type="reset" content="Reset" %}

</form>
{% endif %}
