{% load django_bootstrap5 %}

<section class="container">
    <div class="row m-4">

        <div class="col-12 col-lg-6 mt-2 mb-2">
            <button class="display-5 text-black text-center btn btn-lg btn-primary w-100" data-bs-toggle="modal" data-bs-target="#mod_app_modal">Moderator Application</button>
        </div>
  
        <div class="col-12 col-lg-6 m-0 mt-2">
            <button class="display-5 text-black text-center btn btn-lg btn-primary w-100" data-bs-toggle="modal" data-bs-target="#admin_app_modal">Admin Application</button>
        </div>

    </div>
</section>

<div class="modal fade" id="mod_app_modal" tabindex="-1" aria-labelledby="Moderator Application" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark text-white">
          <button type="button" class="btn-close btn-close-white m-3" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-header">
              Moderator Application
          </div>
          <div class="modal-body" id="mod_app_modal_body">
          
              <div id="mod_form_replace" hx-get="{% url 'staffapps:mod_app' %}" hx-trigger="load" hx-target="#mod_form_replace" hx-swap="innerHTML"></div>
          
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="admin_app_modal" tabindex="-1" aria-labelledby="Admin Application" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark text-white">
          <button type="button" class="btn-close btn-close-white m-3" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-header">
              Admin Application
          </div>
          <div class="modal-body" id="admin_app_modal_body">
          
              <div id="admin_form_replace" hx-get="{% url 'staffapps:admin_app' %}" hx-trigger="load" hx-target="#admin_form_replace" hx-swap="innerHTML"></div>
          
          </div>
      </div>
  </div>
</div>
