{% load static %}
{% load markdownStrip %}

<head hx-head="merge">
  <title>{{ site_info_model.brand_name }} | Profiles</title>
  <meta name="description" content="All User profiles on {{ site_info_model.brand_name }}" hx-preserve="true" hx-head="re-eval">
  <meta property="og:title" content="{{ site_info_model.brand_name }} | Profiles" />
  <meta property="og:description" content="All User profiles on {{ site_info_model.brand_name }}" />
  <meta property="og:url" content="{{web_proto}}://{{pub_domain}}/user/" />
</head>

<div class="container mt-4" id="all_profiles" hx-get="{% url 'authprofiles:all_user_profile' %}" hx-trigger="load" hx-target="#all_profiles" hx-swap="innerHTML"></div>
