{% load static %}
{% load markdownStrip %}

<head hx-head="merge">
  <title>{{ site_info_model.brand_name }} | Profiles</title>
  <meta name="description" content="{{ User_Information.content|striptags }}" hx-preserve="true" hx-head="re-eval">
</head>

{% if User_Information.enabled %}
  <section id="votingIntro" class="container mt-4">
    <header class="card bg-dark opacity-75 text-white p-4">
      <h3 class="pageHeader fw-bold text-center mb-2">{{ site_info_model.brand_name }} User List</h3>
      <hr>
      <div class="pageContent">
        {{ User_Information.content|safe }}
      </div>
    </header>
  </div>
{% else %}
{% endif %}

<div class="container mt-4" id="all_profiles"
     hx-get="{% url 'authprofiles:all_user_profile' %}"
     hx-trigger="load"
     hx-target="#all_profiles"
     hx-swap="innerHTML">
</div>
