{% extends 'raptormc/base.html' %}
{% load static %}
{% load markdownStrip %}

{% block page_title %}
<title>
  
  ShadowRaptor | Profiles
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Profiles" />
<meta property="og:description" content="All User profiles on ShadowRaptor" />
<meta property="og:url" content="https://shadowraptor.net/profile/" />
{% endblock %}

{% block main_block %}

<div class="container mt-4" id="all_profiles" hx-get="{% url 'authprofiles:all_user_profile' %}" hx-trigger="load" hx-target="#all_profiles" hx-swap="innerHTML"></div>

{% endblock %}