<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Completed Donation from {{object.minecraft_username}} on {{object.donation_datetime}}</title>
</head>

<div class='card bg-dark text-white p-3'>
    <div class='d-flex flex-wrap justify-content-evenly m-3 text-center gap-1'>
        {% if completeddonation.donating_user %}
        <p class='fs-5 badge bg-secondary'>
            <a style="color: #ffffff" target="_blank" href="{{completeddonation.donating_user.get_absolute_url}}">{{completeddonation.donating_user}}</a>
        </p>
        {% endif %}
        <p class='fs-5 badge bg-secondary'>
            Minecraft Username: {{ object.minecraft_username }}
        </p>
        <p class='fs-5 badge bg-secondary'>
            Discord Username: {%if object.discord_username%}{{object.discord_username}}{%else%}Discord Username: None{%endif%}
        </p>
        <p class='fs-5 badge bg-primary'>
            Date: {{ object.donation_datetime|date }} | {{ object.donation_datetime|time }}
        </p>
        {% if completeddonation.completed %}
        <p class='fs-5 badge bg-success'>
        {% else %}
        <p class='fs-5 badge bg-warning'>
        {% endif %}
            <a style="color: #ffffff" target="_blank" href="{{completeddonation.bought_package.get_absolute_url}}">Package: {{completeddonation.bought_package}}</a>
        </p>
        {% if completeddonation.completed %}
        <p class='fs-5 badge bg-success'>
            Spent: {{completeddonation.spent}}
        </p>
        {% endif %}
        {% if completeddonation.completed %}
        <p class='fs-5 badge bg-success'>
            Status: Complete
        </p>
        {% else %}
        <p class='fs-5 badge bg-danger'>
            Status: Incomplete
        </p>
        {% endif %}
    </div>
    <hr>
    <div class='d-flex flex-wrap justify-content-evenly m-3 text-center gap-1'>
        {% if perms.donations.resendbenefits_completeddonation %}
        <form>
            {% csrf_token %}
            <a role='button' class='btn btn-warning'
                    hx-post="{% url 'donations:resend' %}?pk={{object.pk}}&do_commands=true&do_roles=false"
                    hx-swap='none'
            >
                Re-send Commands
            </a>
        </form>
        <form>
            {% csrf_token %}
            <a role='button' class='btn btn-warning'
                    hx-post="{% url 'donations:resend' %}?pk={{object.pk}}&do_commands=false&do_roles=true"
                    hx-swap='none'
            >
                Re-give Roles
            </a>
        </form>
        {% endif %}
    </div>
</div>