{% load static %}
{% load adminDoc %}
{% load django_bootstrap5 %}

<div id='content_table_wrapper'>
    <div class="m-2 mt-0 p-3">
        <div class="text-white">
            <header class="fs-3">Completed Donations</header>
            <p class="fs-5">
                {% get_admin_documentation model %}
            </p>
        </div>
    </div>
    <hr class='text-white'>

    <div class='table-responsive-xxl'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            <thead>
                <tr>
                <th class='text-white' scope="col">#</th>
                <th class='text-white htmxLink' scope="col"
                            hx-get="{% url 'panel:donations/completeddonation/list' %}?paginate_by={{paginate_by}}&order_by=donation_datetime&direction={%if direction == None%}asc{%elif direction == 'desc'%}asc{%else%}desc{%endif%}"
                            hx-target='#content_table_wrapper'
                            hx-swap='innerHTML'
                            hx-trigger='click'
                        >
                            Date<img class="sortIcon filter-white ms-2" src="{% static 'image/sort.svg' %}" alt="Sort">
                        </th>
                <th class='text-white' scope="col">User</th>
                <th class='text-white' scope="col">Minecraft Username</th>
                <th class='text-white' scope="col">Discord Username</th>
                <th class='text-white' scope="col">Bought Package</th>
                <th class='text-white' scope="col">Completed and Paid</th>
                <th class='text-white text-center' scope="col">Actions</th>
                </tr>
            </thead>
            {% for completeddonation in page_obj %}
            <tbody>
                <tr>
                <th scope="row">{{completeddonation.pk}}</th>
                <td class='text-nowrap'>{{completeddonation.donation_datetime}}</td>
                <td>{{completeddonation.donating_user}}</td>
                <td>{{completeddonation.minecraft_username}}</td>
                <td>{{completeddonation.discord_username}}</td>
                <td><a href="{{completeddonation.bought_package.get_absolute_url}}">{{completeddonation.bought_package}}</a></td>
                <td>{%if completeddonation.completed%}<div class='badge bg-success'>Complete</div>{%else%}<div class='badge bg-danger'>Incomplete</div>{%endif%}</td>
                <td>
                    <div class='d-flex justify-content-evenly gap-1 w-100'>
                        <form>
                            {% csrf_token %}
                            <a role='button' class='btn btn-success'
                                    hx-post="{% url 'donations:resend' %}?pk={{completeddonation.pk}}&do_commands=true&do_roles=false"
                                    hx-swap='none'
                            >
                                Re-send Commands
                            </a>
                        </form>
                        <form>
                            {% csrf_token %}
                            <a role='button' class='btn btn-success'
                                    hx-post="{% url 'donations:resend' %}?pk={{completeddonation.pk}}&do_commands=false&do_roles=true"
                                    hx-swap='none'
                            >
                                Re-give Roles
                            </a>
                        </form>
                        <form>
                            {% csrf_token %}
                            <a role='button' class='btn btn-danger'
                                    hx-post="{% url 'donations:donation_delete' %}?pk={{completeddonation.pk}}"
                                    hx-target='#content_table_wrapper'
                                    hx-swap'outerHTML'
                            >
                                Delete Donation
                            </a>    
                        </form>
                    </div>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% if page_obj.has_next or page_obj.has_previous%}
        <div class="pagination d-flex align-items-center justify-content-center m-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/completeddonation/list' %}?page=1&paginate_by={{paginate_by}}&{%if order_by != None %}&order_by={{order_by}}&direction={{direction}}{%endif%}"
                        hx-target="#content_table_wrapper"
                    >
                        &laquo; First
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/completeddonation/list' %}?page={{ page_obj.previous_page_number }}&paginate_by={{paginate_by}}&{%if order_by != None %}&order_by={{order_by}}&direction={{direction}}{%endif%}"
                        hx-target="#content_table_wrapper"
                    >
                        Previous
                    </a>
                {% endif %}

                <span class="current text-white">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/completeddonation/list' %}?page={{ page_obj.next_page_number }}&paginate_by={{paginate_by}}&{%if order_by != None %}&order_by={{order_by}}&direction={{direction}}{%endif%}"
                        hx-target="#content_table_wrapper"
                    >
                        Next
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/completeddonation/list' %}?page={{ page_obj.paginator.num_pages }}&paginate_by={{paginate_by}}&{%if order_by != None %}&order_by={{order_by}}&direction={{direction}}{%endif%}"
                        hx-target="#content_table_wrapper"
                    >
                        Last &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        <div class='d-flex justify-content-around'>
            <div class='m-2 text-white'>
                {{total_completeddonation_count}} Total Donations
            </div>
            <div class='m-2 text-white'>
                <form class='form'
                    hx-get="{% url 'panel:donations/completeddonation/list' %}?{%if order_by != None %}&order_by={{order_by}}&direction={{direction}}{%endif%}"
                    hx-target='#content_table_wrapper'
                    hx-swap='innerHTML'
                    hx-trigger='keyup delay:1s'
                >
                    <button type="submit" disabled style="display: none" aria-hidden="true"></button>
                    {% bootstrap_field paginate_form.paginate_by %}
                </form>
            </div>
        </div>
    </div>