{% load static %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | New Created Staff Application</title>
</head>

{{ form.media }}

<div class="m-2 mt-0 p-3">
    <div class="text-white">
        <header class="fs-3">Add a Staff Application</header>
        <p class="fs-5">
            Create a new Staff Application to be added to the app.
        </p>
    </div>
</div>

<div class='card bg-dark m-0 p-3'>

    <form id="create_form_alone" class="form text-white"
        enctype="multipart/form-data" 
        hx-post="{% url 'panel:staffapps/createdstaffapplication/create' %} "
        hx-push-url='/panel/staffapps/createdstaffapplication/list'
        hx-swap="none"
    >
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class='btn btn-success' type='submit'>
            Add
        </button>
    </form>

</div>
