{% load static %}
{% load adminDoc %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | User Deletion Queue</title>
</head>

<div id='content_table_wrapper' x-data="{selected: [],allVisible: [],selectall: false}">
    <div class="m-2 mt-0 p-3">
        <div class="text-white">
            <header class="fs-3">User Deletion Queue</header>
            <p class="fs-5">
                {% get_admin_documentation model %}
            </p>
        </div>
    </div>
    <hr class='text-white'>

    <div class='d-flex justify-content-between gap-2 w-100 mb-3'>
        {% if perms.authprofiles.delete_deletionqueueforuser %}
        <a role='button' id='delete_bulk' class='btn btn-danger' :class="selected < 1 && 'disabled'"
                hx-post="{% url 'panel:users/deletionqueue/delete'%}"
                hx-include='next .table'
                hx-target='#content_table_wrapper'
                hx-swap'outerHTML'
        >
            Delete Selected
        </a>
        {% endif %}
    </div>

    <div class='table-responsive-md'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            {% csrf_token %}
            <thead>
                <tr>
                <th class='text-white' scope="col"></th>
                <th class='text-white' scope="col">#</th>
                <th class='text-white' scope="col">Deleting User</th>
                </tr>
            </thead>
            {% for userpendingdeletion in page_obj %}
            <tbody>
                <tr>
                <th>
                    <input id="select_{{userpendingdeletion.pk}}" class='form-check-input'
                           name="{{userpendingdeletion.pk}}" value="{{userpendingdeletion.pk}}" type='checkbox'
                           x-bind:checked="selectall" x-model="selected" x-init="allVisible.push($el.value)"
                           @click='htmx.find("#delete_bulk").classList.remove("disabled")'
                    >
                    </input>
                </th>
                <th scope="row">{{userpendingdeletion.pk}}</th>
                <td><a href="{{userpendingdeletion.user.get_absolute_url}}">{{userpendingdeletion.user.username}}</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div>
            <input id='check_all_input' class='form-check-input' name='check_all' type="checkbox" x-model='selectall'
                   @click="selectall=!selectall; if (!selectall) {selected = []} else {selected = allVisible}; htmx.find('#delete_bulk').classList.remove('disabled')"
            >
            <label class='form-control-label text-white ' for="check_all">Select All on Page</label>
        </div>
        {% if page_obj.has_next or page_obj.has_previous%}
        <div class="pagination d-flex align-items-center justify-content-center m-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:users/deletionqueue/list' %}?page=1"
                        hx-target="#server_table_wrapper"
                    >
                        &laquo; First
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:users/deletionqueue/list' %}?page={{ page_obj.previous_page_number }}"
                        hx-target="#server_table_wrapper"
                    >
                        Previous
                    </a>
                {% endif %}

                <span class="current text-white">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:users/deletionqueue/list' %}?page={{ page_obj.next_page_number }}"
                        hx-target="#server_table_wrapper"
                    >
                        Next
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:users/deletionqueue/list' %}?page={{ page_obj.paginator.num_pages }}"
                        hx-target="#server_table_wrapper"
                    >
                        Last &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>

<script>

    htmx.find('#delete_bulk').classList.add('disabled')

</script>