{% load static %}
{% load adminDoc %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Donation Packages</title>
</head>

<div id='content_table_wrapper' x-data="{selected: [],allVisible: [],selectall: false}">
    <div class="m-2 mt-0 p-3">
        <div class="text-white">
            <header class="fs-3">Donation Packages</header>
            <p class="fs-5">
                {% get_admin_documentation model %}
            </p>
        </div>
    </div>
    <hr class='text-white'>

    <div class='d-flex justify-content-between gap-2 w-100 mb-3'>
        {% if perms.donations.delete_donationpackage %}
        <a role='button' id='delete_bulk' class='btn btn-danger' :class="selected < 1 && 'disabled'"
                hx-post="{% url 'panel:donations/donationpackage/delete'%}"
                hx-include='next .table'
                hx-target='#content_table_wrapper'
                hx-swap'outerHTML'
        >
            Delete Selected
        </a>
        {% endif %}
        {% if perms.donations.add_donationpackage %}
        <a role='button' id='add_page_button' class='btn btn-primary'
                href='/panel/donations/donationpackage/create'
                hx-get="{% url 'panel:donations/donationpackage/create'%} "
                hx-push-url='/panel/donations/donationpackage/create'
                hx-target='#panel_main'
                hx-indicator="#panelLoadingspinner,.loaded-content"
        >
            Add Donation Package
        </a>
        {% endif %}
    </div>

    <div class='table-responsive-md'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            {% csrf_token %}
            <thead>
                <tr>
                <th class='text-white' scope="col"></th>
                <th class='text-white' scope="col">#</th>
                <th class='text-white' scope="col">Name</th>
                <th class='text-white' scope="col">Price</th>
                <th class='text-white' scope="col">Variable Price</th>
                <th class='text-white' scope="col">Allow Multiple Purchases</th>
                <th class='text-white' scope="col">Priority</th>
                <th class='text-white text-center' scope="col">Actions</th>
                </tr>
            </thead>
            {% for donationpackage in page_obj %}
            <tbody>
                <tr>
                <th>
                    <input id="select_{{donationpackage.pk}}" class='form-check-input'
                           name="{{donationpackage.pk}}" value="{{donationpackage.pk}}" type='checkbox'
                           x-bind:checked="selectall" x-model="selected" x-init="allVisible.push($el.value)"
                           @click='htmx.find("#delete_bulk").classList.remove("disabled")'
                    >
                    </input>
                </th>
                <th scope="row">{{donationpackage.pk}}</th>
                <td>{{donationpackage.name}}</td>
                <td>{{donationpackage.price}} {{site_info.donation_currency|upper}}</td>
                <td>{%if donationpackage.variable_price%}<div class='badge bg-success'>Yes</div>{%else%}<div class='badge bg-danger'>No</div>{%endif%}</td>
                <td>{%if donationpackage.allow_repeat%}<div class='badge bg-success'>Yes</div>{%else%}<div class='badge bg-danger'>No</div>{%endif%}</td>
                <td>{{donationpackage.priority}}</td>
                <td>
                    <div class='d-flex justify-content-evenly gap-1 w-100'>
                        {% if perms.donations.change_donationpackage %}
                        <a role='button' class='btn btn-primary'
                                href='/panel/donations/donationpackage/update/{{donationpackage.pk}}'
                                hx-get="{% url 'panel:donations/donationpackage/update_IR' pk=donationpackage.pk %}"
                                hx-push-url='/panel/donations/donationpackage/update/{{donationpackage.pk}}'
                                hx-target='#panel_main'
                                hx-indicator="#panelLoadingspinner,.loaded-content"
                        >
                            Edit
                        </a>
                        {% endif %}
                    </div>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div>
            <input id='check_all_input' class='form-check-input' name='check_all' type="checkbox" x-model='selectall'
                   @click="selectall=!selectall; if (!selectall) {selected = []} else {selected = allVisible}"
            >
            <label class='form-control-label text-white ' for="check_all">Select All on Page</label>
        </div>
        {% if page_obj.has_next or page_obj.has_previous%}
        <div class="pagination d-flex align-items-center justify-content-center m-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/donationpackage/list' %}?page=1"
                        hx-target="#content_table_wrapper"
                    >
                        &laquo; First
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/donationpackage/list' %}?page={{ page_obj.previous_page_number }}"
                        hx-target="#content_table_wrapper"
                    >
                        Previous
                    </a>
                {% endif %}

                <span class="current text-white">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/donationpackage/list' %}?page={{ page_obj.next_page_number }}"
                        hx-target="#content_table_wrapper"
                    >
                        Next
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/donationpackage/list' %}?page={{ page_obj.paginator.num_pages }}"
                        hx-target="#content_table_wrapper"
                    >
                        Last &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>

<script>

    htmx.find('#delete_bulk').classList.add('disabled')

</script>