{% load static %}
{% load adminDoc %}
{% load django_bootstrap5 %}

<div id='content_table_wrapper'>
    <div class="m-2 mt-0 p-3">
        <div class="text-white">
            <header class="fs-3">{{model_name}}</header>
            <p class="fs-5">
                {% get_admin_documentation model %}
            </p>
        </div>
    </div>
    <hr class='text-white'>

    <div class='table-responsive-md'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            <thead>
                <tr>
                <th class='text-white' scope="col">#</th>
                <th class='text-white' scope="col">Name</th>
                <th class='text-white' scope="col">Enabled</th>
                <th class='text-white text-center' scope="col">Actions</th>
                </tr>
            </thead>
            {% for info_text in page_obj %}
            <tbody>
                <tr>
                <th scope="row">{{info_text.pk}}</th>
                <td>{{info_text.name}}</td>
                <td>{%if info_text.enabled%}<div class='badge bg-success'>Enabled</div>{%else%}<div class='badge bg-danger'>Disabled</div>{%endif%}</td>
                <td>
                    <div class='d-flex justify-content-evenly gap-1 w-100'>
                        {% if perms.raptormc.change_informativetext %}
                        <button id='panel_edit_button' class='btn btn-primary'
                                href='/panel/content/informativetext/update/{{info_text.pk}}'
                                hx-get="{% url 'panel:content/informativetext/update_IR' pk=info_text.pk %} "
                                hx-push-url='/panel/content/informativetext/update/{{info_text.pk}}'
                                hx-target='#panel_main'
                                hx-indicator="#panelLoadingspinner,.loaded-content"
                        >
                            Edit
                        </button>
                        {% endif %}
                    </div>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% if page_obj.has_next or page_obj.has_previous%}
        <div class="pagination d-flex align-items-center justify-content-center m-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:content/informativetext/list' %}?page=1"
                        hx-target="#content_table_wrapper"
                    >
                        &laquo; First
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:content/informativetext/list' %}?page={{ page_obj.previous_page_number }}"
                        hx-target="#content_table_wrapper"
                    >
                        Previous
                    </a>
                {% endif %}

                <span class="current text-white">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:content/informativetext/list' %}?page={{ page_obj.next_page_number }}"
                        hx-target="#content_table_wrapper"
                    >
                        Next
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:content/informativetext/list' %}?page={{ page_obj.paginator.num_pages }}"
                        hx-target="#content_table_wrapper"
                    >
                        Last &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    </div>