{% load static %}
{% load adminDoc %}
{% load django_bootstrap5 %}

<div id='content_table_wrapper' class='fade-in-main'>

    <div class="m-2 mt-0 p-3">
        <div class="text-white">
            <header class="fs-3">Change History</header>
        </div>
    </div>

    <div class='table-responsive-md'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            <thead>
                <tr>
                <th class='text-white' scope="col">#</th>
                <th class='text-white htmxLink' scope="col"
                    hx-get="{% url 'panel:logentry/list' %}?paginate_by={{paginate_by}}&order_by=date&direction={%if direction == None%}asc{%elif direction == 'desc'%}asc{%else%}desc{%endif%}"
                    hx-target='#content_table_wrapper'
                    hx-swap='innerHTML'
                    hx-trigger='click'
                >
                    Date<img class="sortIcon filter-white ms-2" src="{% static 'image/sort.svg' %}" alt="Sort">
                </th>
                <th class='text-white' scope="col">Changed Item</th>
                <th class='text-white' scope="col">Action</th>
                <th class='text-white htmxLink' scope="col"
                    hx-get="{% url 'panel:logentry/list' %}?paginate_by={{paginate_by}}&order_by=changing_user&direction={%if direction == None%}asc{%elif direction == 'desc'%}asc{%else%}desc{%endif%}"
                    hx-target='#content_table_wrapper'
                    hx-swap='innerHTML'
                    hx-trigger='click'
                >
                    Changing User<img class="sortIcon filter-white ms-2" src="{% static 'image/sort.svg' %}" alt="Sort">
                </th>
                </tr>
            </thead>
            {% for logentry in page_obj %}
            <tbody>
                <tr>
                <th scope="row">{{logentry.pk}}</th>
                <td class='text-nowrap'>{{logentry.date}}</td>
                <td>{{logentry.changed_model}}</td>
                <td>{%if logentry.action == 'Created'%}<div class='badge bg-success'>Created</div>{%elif logentry.action == 'Deleted'%}<div class='badge bg-danger'>Deleted</div>{%else%}<div class='badge bg-warning text-black'>Updated</div>{%endif%}</td>
                <td>{{logentry.changing_user}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    {% include 'panel/crud/components/pagination.html' with crud_url="logentry"%}

    {% include 'panel/crud/components/pagination_choose.html' with crud_url='logentry'%}

</div>
