{% load static %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Update Navbar Link: {{navbarlink.name}}</title>
</head>

{{ form.media }}

<div class="m-2 mt-0 p-3">
    <div class="text-white">
        <header class="fs-3">Update details for the "{{navbarlink.name}}" Navbar Link</header>
        <p class="fs-5">
            Change any details desired, and use the "Save Changes" button at the bottom of
            the page.
        </p>
    </div>
</div>

<div class='card bg-dark m-0 p-3'>

    <div id='update_form_wrapper' class='container-flex'>
        <form id="update_form_alone" class="form text-white"
            enctype="multipart/form-data" 
            hx-post="{% url 'panel:content/navbarlink/update_IR' pk=navbarlink.pk %}"
            hx-swap="none"
        >
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class='btn btn-success' type='submit'>
                Save Changes
            </button>
        </form>
    </div>
</div>
