{% load static %}
{% load adminDoc %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Navigation Links</title>
</head>

<div id='content_table_wrapper' x-data="{selected: [],allVisible: [],selectall: false}">

    {% include 'panel/crud/components/header_info.html'%}

    <hr class='text-white'>

    <div class='d-flex justify-content-between gap-2 w-100 mb-3'>

        {% if perms.raptormc.delete_navbarlink %}
            {% include 'panel/crud/components/deletion/delete_selected.html' with crud_url='content/navbarlink' %}
        {% endif %}

        {% if perms.raptormc.add_navbarlink %}
            {% include 'panel/crud/components/add.html' with crud_url='content/navbarlink'%}
        {% endif %}

    </div>

    <div class='table-responsive-xl'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            {% csrf_token %}
            <thead>
                <tr>
                <th class='text-white' scope="col"></th>
                <th class='text-white' scope="col">#</th>
                <th class='text-white' scope="col">Name</th>
                <th class='text-white' scope="col">URL</th>
                <th class='text-white' scope="col">Linked Page</th>
                <th class='text-white' scope="col">Dropdown Menu</th>
                <th class='text-white' scope="col">Priority</th>
                <th class='text-white' scope="col">New Tab</th>
                <th class='text-white' scope="col">Enabled</th>
                <th class='text-white text-center' scope="col">Actions</th>
                </tr>
            </thead>
            {% for navlink in page_obj %}
            <tbody>
                <tr>
                <th>
                    {% include 'panel/crud/components/deletion/selection.html' with current_object=navlink %}
                </th>
                <th scope="row">{{navlink.pk}}</th>
                <td>{{navlink.name}}</td>
                <td><a href="{{navlink.url}}" target='_blank'>{{navlink.url}}<img class="new_tab_icon filter-white ms-2" src="{% static 'image/new_tab_white.svg' %}" alt="Opens in new tab"></a></td>
                <td>{%if navlink.linked_page%}<a href="{{navlink.linked_page.get_absolute_url}}">{{navlink.linked_page}}</a>{%else%}None{%endif%}</td>
                <td>{%if navlink.parent_dropdown%}<a href="{{navlink.parent_dropdown.get_absolute_url}}">{{navlink.parent_dropdown}}</a>{%else%}None{%endif%}</td>
                <td>{{navlink.priority}}</td>
                <td>{%if navlink.new_tab%}<div class='badge bg-success'>Yes</div>{%else%}<div class='badge bg-danger'>No</div>{%endif%}</td>
                <td>{%if navlink.enabled%}<div class='badge bg-success'>Enabled</div>{%else%}<div class='badge bg-danger'>Disabled</div>{%endif%}</td>
                <td>
                    <div class='d-flex justify-content-evenly gap-1 w-100'>
                        {% if perms.raptormc.change_navbarlink %}
                        <a role='button' class='btn btn-primary'
                                href='/panel/content/navbarlink/{{navlink.pk}}'
                                hx-get="{% url 'panel:content/navbarlink/update_IR' pk=navlink.pk %}"
                                hx-push-url='/panel/content/navbarlink/update/{{navlink.pk}}'
                                hx-target='#panel_main'
                                hx-indicator="#panelLoadingspinner,.loaded-content"
                        >
                            Edit
                        </a>
                        {% endif %}
                    </div>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    {% include 'panel/crud/components/deletion/select_all.html' %}

    {% include 'panel/crud/components/pagination.html' with crud_url="content/navbarlink"%}

</div>
