{% load static %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Nav Widget Bars</title>
</head>

<div id='content_table_wrapper' x-data="{selected: [],allVisible: [],selectall: false}">
    
    {% include 'panel/crud/components/header_info.html'%}

    <hr class='text-white'>

    <div class='d-flex justify-content-between gap-2 w-100 mb-3'>

        {% if perms.raptormc.delete_navwidgetbar %}
            {% include 'panel/crud/components/deletion/delete_selected.html' with crud_url='content/navwidgetbar' %}
        {% endif %}

        {% if perms.raptormc.add_navwidgetbar %}
            {% include 'panel/crud/components/add.html' with crud_url='content/navwidgetbar'%}
        {% endif %}

    </div>

    <div class='table-responsive-md'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            {% csrf_token %}
            <thead>
                <tr>
                <th class='text-white' scope="col"></th>
                <th class='text-white' scope="col">#</th>
                <th class='text-white' scope="col">Name</th>
                <th class='text-white' scope="col">Priority</th>
                <th class='text-white' scope="col">Enabled</th>
                <th class='text-white text-center' scope="col">Actions</th>
                </tr>
            </thead>
            {% for navwidgetbar in page_obj %}
            <tbody>
                <tr>
                <th>
                    {% include 'panel/crud/components/deletion/selection.html' with current_object=navwidgetbar %}
                </th>
                <th scope="row">{{navlink.pk}}</th>
                <td>{{navwidgetbar.name}}</td>
                <td>{{navwidgetbar.priority}}</td>
                <td>{%if navwidgetbar.enabled%}<div class='badge bg-success'>Enabled</div>{%else%}<div class='badge bg-danger'>Disabled</div>{%endif%}</td>
                <td>
                    <div class='d-flex justify-content-evenly gap-1 w-100'>
                        {% if perms.raptormc.change_navwidgetbar %}
                        <a role='button' class='btn btn-primary'
                                href='/panel/content/navwidgetbar/{{navwidgetbar.pk}}'
                                hx-get="{% url 'panel:content/navwidgetbar/update_IR' pk=navwidgetbar.pk %}"
                                hx-push-url='/panel/content/navwidgetbar/update/{{navwidgetbar.pk}}'
                                hx-target='#panel_main'
                                hx-indicator="#panelLoadingspinner,.loaded-content"
                        >
                            Edit
                        </a>
                        {% endif %}
                    </div>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    
    {% include 'panel/crud/components/deletion/select_all.html' %}

    {% include 'panel/crud/components/pagination.html' with crud_url="content/navwidgetbar"%}

</div>
