{% load static %}
{% load adminDoc %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Pages</title>
</head>

<div id='content_table_wrapper' x-data="{selected: [],allVisible: [],selectall: false}">

    {% include 'panel/crud/components/header_info.html'%}

    <hr class='text-white'>

    <div class='d-flex justify-content-between gap-2 w-100 mb-3'>

        {% if perms.raptormc.delete_page %}
            {% include 'panel/crud/components/deletion/delete_selected.html' with crud_url='content/page' %}
        {% endif %}

        {% if perms.raptormc.add_page %}
            {% include 'panel/crud/components/add.html' with crud_url='content/page'%}
        {% endif %}

    </div>

    <div class='table-responsive-md'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            {% csrf_token %}
            <thead>
                <tr>
                <th class='text-white' scope="col"></th>
                <th class='text-white' scope="col">#</th>
                <th class='text-white' scope="col">Name</th>
                <th class='text-white' scope="col">Created</th>
                <th class='text-white text-center' scope="col">Actions</th>
                </tr>
            </thead>
            {% for page in page_obj %}
            <tbody>
                <tr>
                <th>
                    {% include 'panel/crud/components/deletion/selection.html' with current_object=page %}
                </th>
                <th scope="row">{{page.pk}}</th>
                <td>{{page.name}}</td>
                <td class='text-nowrap'>{{page.created}}</td>
                <td>
                    <div class='d-flex justify-content-evenly gap-1 w-100'>
                        {% if perms.raptormc.change_page %}
                        <a role='button' class='btn btn-primary'
                                href='/panel/content/page/update/{{info_text.pk}}'
                                hx-get="{% url 'panel:content/page/update_IR' pk=page.pk %} "
                                hx-push-url='/panel/content/page/update/{{page.pk}}'
                                hx-target='#panel_main'
                                hx-indicator="#panelLoadingspinner,.loaded-content"
                        >
                            Edit
                        </a>
                        {% endif %}
                        <a role='button' class='btn btn-success'
                                href="{{page.get_absolute_url}}"
                                target='_blank'
                        >
                            Visit Page<img class="new_tab_icon filter-white ms-2" src="{% static 'image/new_tab_white.svg' %}" alt="Opens in new tab">
                        </a>
                    </div>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    {% include 'panel/crud/components/deletion/select_all.html' %}

    {% include 'panel/crud/components/pagination.html' with crud_url="content/page"%}

</div>
