{% load static %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Update Page: {{page.name}}</title>
</head>

<div class="m-2 mt-0 p-3">
    <div class="text-white">
        <header class="fs-3">Update details for the "{{page.name}}" Page</header>
        <p class="fs-5">
            Change any details desired, and use the "Save Changes" button at the bottom of
            the page.
        </p>
    </div>
</div>

<div class='card bg-dark m-0 p-3'>
    <div class='d-flex flex-wrap justify-content-center gap-1 mb-0'>
        <button id='select-button-1' class='btn btn-sm btn-primary selection-button'>
            Page Content
        </button>
        <button id='select-button-2' class='btn btn-sm btn-secondary selection-button'>
            CSS/JS
        </button>
        <button id='select-button-3' class='btn btn-sm btn-secondary selection-button'>
            SEO
        </button>
    </div>

    <hr class='text-white mt-0 mb-4'>

    <div id='update_form_wrapper' class='container-flex'>
        <form id="update_form_alone" class="form text-white"
            enctype="multipart/form-data" 
            hx-post="{% url 'panel:content/page/update_IR' pk=page.pk %} "
            hx-swap="none"
        >
            {% csrf_token %}
            <div id="page_content" style='display: block'>
                {% bootstrap_field form.name %}
                {% bootstrap_field form.content %}
            </div>
            <div id="page_cssjs" style='display: none'>
                {% bootstrap_field form.page_css %}
                {% bootstrap_field form.page_js %}
            </div>
            <div id="page_seo" style='display: none'>
                {% bootstrap_field form.meta_description %}
                {% bootstrap_field form.meta_keywords %}
            </div>
            {{ form.media }}
            <button class='btn btn-success' type='submit'>
                Save Changes
            </button>
        </form>
    </div>
</div>

<script src="{% static 'javascript/src/pageSelectButton.js' %}"></script>
