{% load static %}
{% load adminDoc %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Player List</title>
</head>

<div id='content_table_wrapper'>

    {% include 'panel/crud/components/header_info.html'%}

    <hr class='text-white'>

    {% include 'panel/crud/components/string_filter_form.html' with crud_url='player' current_form_object=player_filter_form %}

    <div class='table-responsive-xl'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            <thead>
                <tr>
                <form>
                    <th class='text-white htmxLink' scope="col"
                        hx-get="{% url 'panel:player/list' %}?paginate_by={{paginate_by}}&username={{form_data.username}}&order_by=name&direction={%if direction == None%}asc{%elif direction == 'desc'%}asc{%else%}desc{%endif%}"
                        hx-target='#content_table_wrapper'
                        hx-swap='innerHTML'
                        hx-trigger='click'
                    >
                        Player Name<img class="sortIcon filter-white ms-2" src="{% static 'image/sort.svg' %}" alt="Sort">
                    </th>
                    <th class='text-white htmxLink' scope="col"
                        hx-get="{% url 'panel:player/list' %}?paginate_by={{paginate_by}}&username={{form_data.username}}&order_by=first_joined&direction={%if direction == None%}asc{%elif direction == 'desc'%}asc{%else%}desc{%endif%}"
                        hx-target='#content_table_wrapper'
                        hx-swap='innerHTML'
                        hx-trigger='click'
                    >
                        First Joined<img class="sortIcon filter-white ms-2" src="{% static 'image/sort.svg' %}" alt="Sort">
                    </th>
                    <th class='text-white htmxLink' scope="col"
                        hx-get="{% url 'panel:player/list' %}?paginate_by={{paginate_by}}&username={{form_data.username}}&order_by=last_online&direction={%if direction == None%}asc{%elif direction == 'desc'%}asc{%else%}desc{%endif%}"
                        hx-target='#content_table_wrapper'
                        hx-swap='innerHTML'
                        hx-trigger='click'
                    >
                        Last Online<img class="sortIcon filter-white ms-2" src="{% static 'image/sort.svg' %}" alt="Sort">
                    </th>
                    <th class='text-white' scope="col">Currently Online</th>
                    <th class='text-white htmxLink' scope="col"
                        hx-get="{% url 'panel:player/list' %}?paginate_by={{paginate_by}}&username={{form_data.username}}&order_by=server&direction={%if direction == None%}asc{%elif direction == 'desc'%}asc{%else%}desc{%endif%}"
                        hx-target='#content_table_wrapper'
                        hx-swap='innerHTML'
                        hx-trigger='click'
                    >
                        Server<img class="sortIcon filter-white ms-2" src="{% static 'image/sort.svg' %}" alt="Sort">
                    </th>
                </form>
                </tr>
            </thead>
            {% for player in page_obj %}
            <tbody class="item">
                <tr>
                <th scope="row">{{player.name}}</th>
                <td class='text-nowrap'>{{player.first_joined}}</td>
                <td class='text-nowrap'>{{player.last_online}}</td>
                <td>{%if player.online%}<div class='badge bg-success'>Online</div>{%else%}<div class='badge bg-danger'>Offline</div>{%endif%}</td>
                <td><a href="{{player.server.get_absolute_url}}">{{player.server}}</a></td>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div> 

    {% include 'panel/crud/components/pagination.html' with crud_url="player"%}

    {% include 'panel/crud/components/pagination_choose.html' with crud_url='player'%}

</div>
