{% load static %}
{% load adminDoc %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | User Groups</title>
</head>

<div id='content_table_wrapper'>
    <div class="m-2 mt-0 p-3">
        <div class="text-white">
            <header class="fs-3">User Groups</header>
            <p class="fs-5">
                {% get_admin_documentation model %}
            </p>
        </div>
    </div>
    <hr class='text-white'>

    {% if perms.authprofiles.add_raptorusergroup %}
    <div class='d-flex justify-content-end gap-1 w-100 mb-5'>
        <a role='button' id='add_page_button' class='btn btn-primary'
                href='/panel/users/raptorusergroup/create/{{raptorusergroup.pk}}'
                hx-get="{% url 'panel:users/raptorusergroup/create'%} "
                hx-push-url='/panel/users/raptorusergroup/create/{{raptorusergroup.pk}}'
                hx-target='#panel_main'
                hx-indicator="#panelLoadingspinner,.loaded-content"
        >
            Add User Group
        </a>
    </div>
    {% endif %}

    <div class='table-responsive-md'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            <thead>
                <tr>
                <th class='text-white' scope="col">#</th>
                <th class='text-white' scope="col">Name</th>
                <th class='text-white text-center' scope="col">Actions</th>
                </tr>
            </thead>
            {% for raptorusergroup in page_obj %}
            <tbody>
                <tr>
                <th scope="row">{{navlink.pk}}</th>
                <td>{{raptorusergroup.name}}</td>
                <td>
                    <div class='d-flex justify-content-evenly gap-1 w-100'>
                        {% if perms.authprofiles.change_raptorusergroup %}
                        <a role='button' class='btn btn-primary'
                                href='/panel/users/raptorusergroup/update/{{raptorusergroup.pk}}'
                                hx-get="{% url 'panel:users/raptorusergroup/update_IR' pk=raptorusergroup.pk %}"
                                hx-push-url='/panel/users/raptorusergroup/update/{{raptorusergroup.pk}}'
                                hx-target='#panel_main'
                                hx-indicator="#panelLoadingspinner,.loaded-content"
                        >
                            Edit
                        </a>
                        {% endif %}
                        {% if perms.authprofiles.delete_raptorusergroup %}
                        <form>
                            {% csrf_token %}
                            <button class='btn btn-danger'
                                    hx-get="{% url 'authprofiles:raptorusergroup_delete' raptorusergroup.pk%}"
                                    hx-target='#content_table_wrapper'
                                    hx-swap'outerHTML'
                            >
                                Permanently Delete
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% if page_obj.has_next or page_obj.has_previous%}
        <div class="pagination d-flex align-items-center justify-content-center m-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:users/raptorusergroup/list' %}?page=1"
                        hx-target="#server_table_wrapper"
                    >
                        &laquo; First
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:users/raptorusergroup/list' %}?page={{ page_obj.previous_page_number }}"
                        hx-target="#server_table_wrapper"
                    >
                        Previous
                    </a>
                {% endif %}

                <span class="current text-white">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:users/raptorusergroup/list' %}?page={{ page_obj.next_page_number }}"
                        hx-target="#server_table_wrapper"
                    >
                        Next
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:users/raptorusergroup/list' %}?page={{ page_obj.paginator.num_pages }}"
                        hx-target="#server_table_wrapper"
                    >
                        Last &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    </div>