{% load static %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Update Server: {{server.modpack_name}}</title>
</head>

<div class="m-2 mt-0 p-3">
    <div class="text-white">
        <header class="fs-3">Update existing information for {{server.modpack_name}}</header>
        <p class="fs-5">
            Change any details desired, and use the "Save Changes" button at the bottom of
            the page.
        </p>
    </div>
</div>

<div class='card bg-dark m-0 p-3' x-data='{selected: 1}'>
    <div class='d-flex flex-wrap justify-content-center gap-1 mb-0'>
        <button class='btn btn-sm selection-button' @click='selected = 1'
                :class="{'btn-primary': selected == 1, 'btn-secondary': selected != 1}"
        >
            General
        </button>
        <button class='btn btn-sm selection-button' @click='selected = 2'
                :class="{'btn-primary': selected == 2, 'btn-secondary': selected != 2}"
        >
            Information
        </button>
        <button class='btn btn-sm selection-button' @click='selected = 3'
                :class="{'btn-primary': selected == 3, 'btn-secondary': selected != 3}"
        >
            Querying
        </button>
        <button class='btn btn-sm selection-button' @click='selected = 4'
                :class="{'btn-primary': selected == 4, 'btn-secondary': selected != 4}"
        >
            Discord Announcements
        </button>
        <button class='btn btn-sm selection-button' @click='selected = 5'
                :class="{'btn-primary': selected == 5, 'btn-secondary': selected != 5}"
        >
            Donations
        </button>
    </div>

    <hr class='text-white mt-0 mb-4'>

    <div id='update_form_wrapper' class='container-flex'>
        <form id="update_form_alone" class="form text-white"
            enctype="multipart/form-data" 
            hx-post="{% url 'panel:server/update_IR' pk=server.pk %} "
            hx-swap="none"
        >
            {% csrf_token %}
            <div x-show='selected == 1'>
                {% bootstrap_field form.modpack_name %}
                {% bootstrap_field form.modpack_version %}
                {% bootstrap_field form.modpack_url %}
                {% bootstrap_field form.modpack_picture %}
            </div>
            <div x-show='selected == 2'>
                {% bootstrap_field form.modpack_description %}
                {% bootstrap_field form.use_modpack_description %}
                {% bootstrap_field form.server_description %}
                {% bootstrap_field form.use_server_description %}
                {% bootstrap_field form.server_rules %}
                {% bootstrap_field form.server_banned_items %}
                {% bootstrap_field form.server_vote_links %}
            </div>
            <div x-show='selected == 3'>
                {% bootstrap_field form.server_address %}
                {% bootstrap_field form.server_port %}
            </div>
            <div x-show='selected == 4'>
                {% bootstrap_field form.discord_announcement_channel_id %}
                {% bootstrap_field form.discord_modpack_role_id %}
            </div>
            <div x-show='selected == 5'>
                {% bootstrap_field form.rcon_address %}
                {% bootstrap_field form.rcon_port %}
                {% bootstrap_field form.rcon_password %}
            </div>
            {{ form.media }}
            <button class='btn btn-success' type='submit'>
                Save Changes
            </button>
        </form>
    </div>
</div>
