{% load adminDoc %}

<div id='server_table_wrapper'>
    <div class="m-2 mt-0 p-3">
        <div class="text-white">
            <header class="fs-3">Server List</header>
            <p class="fs-5">
                {% get_admin_documentation model %}
            </p>
        </div>
    </div>
    <hr class='text-white'>

    {% if perms.gameservers.add_server %}
    <div class='d-flex justify-content-end gap-1 w-100 mb-5'>
        <a role='button' id='add_server_button' class='btn btn-primary'
                href='/panel/server/create/'
                hx-get="{% url 'panel:server/create'%} "
                hx-push-url='/panel/server/create/'
                hx-target='#panel_main'
                hx-indicator="#panelLoadingspinner,.loaded-content"
        >
            Add Server
        </a>
    </div>
    {% endif %}

    <div class='table-responsive-xl'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            <thead>
                <tr>
                <th class='text-white' scope="col">#</th>
                <th class='text-white' scope="col">Modpack Name</th>
                <th class='text-white' scope="col">Modpack Version</th>
                <th class='text-white' scope="col">Server Address</th>
                <th class='text-white' scope="col">Server State</th>
                <th class='text-white text-center' scope="col">Actions</th>
                </tr>
            </thead>
            {% for server in page_obj %}
            <tbody>
                <tr>
                <th scope="row">{{server.pk}}</th>
                <td>{{server.modpack_name}}</td>
                <td>{{server.modpack_version}}</td>
                <td>{{server.server_address}}</td>
                <td>{%if server.server_state%}<div class='badge bg-success'>Online</div>{%else%}<div class='badge bg-danger'>Offline</div>{%endif%}</td>
                <td>
                    <div class='d-flex justify-content-evenly gap-1 w-100'>
                        {% if perms.gameservers.change_server %}
                        <a role='button' id='panel_edit_button' class='btn btn-primary'
                                href='/panel/server/update/{{server.pk}}'
                                hx-get="{% url 'panel:server/update_IR' pk=server.pk %} "
                                hx-push-url='/panel/server/update/{{server.pk}}'
                                hx-target='#panel_main'
                                hx-indicator="#panelLoadingspinner,.loaded-content"
                        >
                            Edit
                        </a>
                        {% endif %}

                        {% if perms.gameservers.maintenance_server %}
                        <div id="panel_maintenance_button_replace_{{server.pk}}">
                            {% include "panel/crud/panel_maintenance_button.html" %}
                        </div>
                        {% endif %}

                        {% if perms.gameservers.archive_server %}
                        <form>
                            {% csrf_token %}
                            <button id='panel_archive_button' class='btn btn-danger'
                                    hx-get="{% url 'gameservers:update_archive' server.pk%}"
                                    hx-target='#server_table_wrapper'
                                    hx-swap'outerHTML'
                            >
                                Archive
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% if page_obj.has_next or page_obj.has_previous%}
        <div class="pagination d-flex align-items-center justify-content-center m-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/list' %}?page=1"
                        hx-target="#server_table_wrapper"
                    >
                        &laquo; First
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/list' %}?page={{ page_obj.previous_page_number }}"
                        hx-target="#server_table_wrapper"
                    >
                        Previous
                    </a>
                {% endif %}

                <span class="current text-white">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/list' %}?page={{ page_obj.next_page_number }}"
                        hx-target="#server_table_wrapper"
                    >
                        Next
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/list' %}?page={{ page_obj.paginator.num_pages }}"
                        hx-target="#server_table_wrapper"
                    >
                        Last &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
