{% load adminDoc %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Archived Server List</title>
</head>

<div id='server_table_wrapper'>
    <div class="m-2 mt-0 p-3">
        <div class="text-white">
            <header class="fs-3">Archived Servers</header>
            <p class="fs-5">
                A list of servers that have been archived. Unarchive a server here for it to appear in the server list
                and the rest of the website once more.
            </p>
            <p class="fs-5">
                You can also permanently delete servers here. This cannot be reversed!
            </p>
        </div>
    </div>
    <hr class='text-white'>
    {% if page_obj.has_next or page_obj.has_previous%}
        <div class="pagination d-flex align-items-center justify-content-center m-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/archivedlist' %}?page=1"
                        hx-target="#server_table_wrapper"
                    >
                        &laquo; First
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/archivedlist' %}?page={{ page_obj.previous_page_number }}"
                        hx-target="#server_table_wrapper"
                    >
                        Previous
                    </a>
                {% endif %}

                <span class="current text-white">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/archivedlist' %}?page={{ page_obj.next_page_number }}"
                        hx-target="#server_table_wrapper"
                    >
                        Next
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/archivedlist' %}?page={{ page_obj.paginator.num_pages }}"
                        hx-target="#server_table_wrapper"
                    >
                        Last &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    <div class='table-responsive-md'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            <thead>
                <tr>
                <th class='text-white' scope="col">#</th>
                <th class='text-white' scope="col">Modpack Name</th>
                <th class='text-white text-center' scope="col">Actions</th>
                </tr>
            </thead>
            {% for server in page_obj %}
            <tbody>
                <tr>
                <th scope="row">{{server.pk}}</th>
                <td>{{server.modpack_name}}</td>
                <td>
                    <div class='d-flex justify-content-evenly gap-1 w-100'>
                        {% if perms.gameservers.archive_server %}
                        <form>
                            {% csrf_token %}
                            <button id='panel_unarchive_button' class='btn btn-success'
                                    hx-get="{% url 'gameservers:update_archive' server.pk%}"
                                    hx-target='#server_table_wrapper'
                                    hx-swap'outerHTML'
                            >
                                Unarchive
                            </button>
                        </form>
                        {% endif %}
                        {% if perms.gameservers.delete_server %}
                        <form>
                            {% csrf_token %}
                            <button id='panel_delete_button' class='btn btn-danger'
                                    hx-get="{% url 'gameservers:delete' server.pk%}"
                                    hx-target='#server_table_wrapper'
                                    hx-swap'outerHTML'
                            >
                                Permanently Delete
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    try {
        tooltipTriggerList
    } catch (error) {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    }
</script>
