<div id='server_table_wrapper'>
    {% if page_obj.has_next or page_obj.has_previous%}
        <div class="pagination d-flex align-items-center justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/list' %}?page=1"
                        hx-target="#server_table_wrapper"
                    >
                        &laquo; First
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/list' %}?page={{ page_obj.previous_page_number }}"
                        hx-target="#server_table_wrapper"
                    >
                        Previous
                    </a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/list' %}?page={{ page_obj.next_page_number }}"
                        hx-target="#server_table_wrapper"
                    >
                        Next
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:server/list' %}?page={{ page_obj.paginator.num_pages }}"
                        hx-target="#server_table_wrapper"
                    >
                        Last &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    <div class='table-responsive-sm'>
        <table class="table table-dark table-hover text-white">
            <thead>
                <tr>
                <th class='text-white' scope="col">#</th>
                <th class='text-white' scope="col">Modpack Name</th>
                <th class='text-white' scope="col">Modpack Version</th>
                <th class='text-white' scope="col">Server Address</th>
                <th class='text-white text-center' scope="col">Actions</th>
                </tr>
            </thead>
            {% for server in page_obj %}
            <tbody class="table-group-divider">
                <tr>
                <th scope="row">{{server.pk}}</th>
                <td>{{server.modpack_name}}</td>
                <td>{{server.modpack_version}}</td>
                <td>{{server.server_address}}</td>
                <td>
                    <div class='d-flex justify-content-evenly w-100'>
                        <button id='panel_edit_button' class='btn btn-primary'
                                href='/panel/server/update/{{server.pk}}'
                                hx-get="{% url 'panel:server/update_IR' pk=server.pk %} "
                                hx-push-url='/panel/server/update/{{server.pk}}'
                                hx-target='#panel_main'
                                hx-indicator="#panelLoadingspinner,.loaded-content"
                        >
                            Edit
                        </button>
                        <button id='panel_maintenance_button' class='btn btn-warning'
                                {% comment %} hx-post="{% url 'panel:server/maintenance'%} server" {% endcomment %}
                                hx-target='#panel_maintenance_button'
                        >
                            Enable Maintenance Mode
                        </button>
                        <button id='panel_archive_button' class='btn btn-danger'
                                {% comment %} hx-post="{% url 'panel:server/archive'%} server" {% endcomment %}
                                hx-target='#panel_archive_button'
                        >
                            Archive
                        </button>
                    </div>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
