{% load static %}
{% load adminDoc %}
{% load django_bootstrap5 %}

<head hx-head="merge">
    <title>{{ site_info_model.brand_name }} | Submitted Staff Applications</title>
</head>

<div id='content_table_wrapper' x-data="{selected: [],allVisible: [],selectall: false}">
    <div class="m-2 mt-0 p-3">
        <div class="text-white">
            <header class="fs-3">Submitted Applications</header>
            <p class="fs-5">
                {% get_admin_documentation model %}
            </p>
        </div>
    </div>
    <hr class='text-white'>

    <div class='d-flex justify-content-start gap-2 w-100 mb-3'>
        {% if perms.staffapps.delete_staffapplicationfield %}
        <a role='button' id='delete_bulk' class='btn btn-danger' :class="selected < 1 && 'disabled'"
                hx-post="{% url 'panel:staffapps/submittedstaffapplication/delete'%}"
                hx-include='next .table'
                hx-target='#content_table_wrapper'
                hx-swap'outerHTML'
        >
            Delete Selected
        </a>
        {% endif %}
    </div>

    <div class='table-responsive-xxl'>
        <table class="table table-dark table-hover text-white border border-black border-2">
            {% csrf_token %}
            <thead>
                <tr>
                <th class='text-white' scope='col'></th>
                <th class='text-white' scope="col">#</th>
                <th class='text-white htmxLink' scope="col"
                            hx-get="{% url 'panel:staffapps/submittedstaffapplication/list' %}?paginate_by={{paginate_by}}&order_by=submitted_date&direction={%if direction == None%}asc{%elif direction == 'desc'%}asc{%else%}desc{%endif%}"
                            hx-target='#content_table_wrapper'
                            hx-swap='innerHTML'
                            hx-trigger='click'
                        >
                            Date<img class="sortIcon filter-white ms-2" src="{% static 'image/sort.svg' %}" alt="Sort">
                        </th>
                <th class='text-white' scope="col">Approval</th>
                <th class='text-white text-center' scope="col">Actions</th>
                </tr>
            </thead>
            {% for submittedstaffapplication in page_obj %}
            <tbody>
                <tr>
                <th>
                    <input id="select_{{submittedstaffapplication.pk}}" class='form-check-input'
                           name="{{submittedstaffapplication.pk}}" value="{{submittedstaffapplication.pk}}" type='checkbox'
                           x-bind:checked="selectall" x-model="selected" x-init="allVisible.push($el.value)"
                           @click='htmx.find("#delete_bulk").classList.remove("disabled")'
                    >
                    </input>
                </th>
                <th scope="row">{{submittedstaffapplication.pk}}</th>
                <td class='text-nowrap'>{{submittedstaffapplication.submitted_date}}</td>
                <td>{%if submittedstaffapplication.approved == 'A'%}<div class='badge bg-success'>Approved</div>{%elif submittedstaffapplication.approved == 'D'%}<div class='badge bg-danger'>Denied</div>{%else%}<div class='badge bg-warning'>Pending</div>{%endif%}</td>
                <td>
                    <div class='d-flex justify-content-evenly gap-1 w-100'>
                        <a role='button' id='panel_edit_button' class='btn btn-primary'
                                href='/panel/staffapps/submittedstaffapplication/view/{{submittedstaffapplication.pk}}'
                                hx-get="{% url 'panel:staffapps/submittedstaffapplication/view_IR' pk=submittedstaffapplication.pk %} "
                                hx-push-url='/panel/staffapps/submittedstaffapplication/view/{{submittedstaffapplication.pk}}'
                                hx-target='#panel_main'
                                hx-indicator="#panelLoadingspinner,.loaded-content"
                        >
                            View
                        </a>
                    </div>
                </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div>
            <input id='check_all_input' class='form-check-input' name='check_all' type="checkbox" x-model='selectall'
                   @click="selectall=!selectall; if (!selectall) {selected = []} else {selected = allVisible}; htmx.find('#delete_bulk').classList.remove('disabled')"
            >
            <label class='form-control-label text-white ' for="check_all">Select All on Page</label>
        </div>
        {% if page_obj.has_next or page_obj.has_previous%}
        <div class="pagination d-flex align-items-center justify-content-center m-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/completeddonation/list' %}?page=1&paginate_by={{paginate_by}}&{%if order_by != None %}&order_by={{order_by}}&direction={{direction}}{%endif%}"
                        hx-target="#content_table_wrapper"
                    >
                        &laquo; First
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/completeddonation/list' %}?page={{ page_obj.previous_page_number }}&paginate_by={{paginate_by}}&{%if order_by != None %}&order_by={{order_by}}&direction={{direction}}{%endif%}"
                        hx-target="#content_table_wrapper"
                    >
                        Previous
                    </a>
                {% endif %}

                <span class="current text-white">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/completeddonation/list' %}?page={{ page_obj.next_page_number }}&paginate_by={{paginate_by}}&{%if order_by != None %}&order_by={{order_by}}&direction={{direction}}{%endif%}"
                        hx-target="#content_table_wrapper"
                    >
                        Next
                    </a>
                    <a role="button" class="btn btn-dark opacity-75"
                        hx-get="{% url 'panel:donations/completeddonation/list' %}?page={{ page_obj.paginator.num_pages }}&paginate_by={{paginate_by}}&{%if order_by != None %}&order_by={{order_by}}&direction={{direction}}{%endif%}"
                        hx-target="#content_table_wrapper"
                    >
                        Last &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        <div class='d-flex justify-content-around'>
            <div class='m-2 text-white'>
                {{total_submittedstaffapplication_count}} Total Submitted Applications
            </div>
            <div class='m-2 text-white'>
                <form class='form'
                    hx-get="{% url 'panel:staffapps/submittedstaffapplication/list' %}?{%if order_by != None %}&order_by={{order_by}}&direction={{direction}}{%endif%}"
                    hx-target='#content_table_wrapper'
                    hx-swap='innerHTML'
                    hx-trigger='keyup delay:1s'
                >
                    <button type="submit" disabled style="display: none" aria-hidden="true"></button>
                    {% bootstrap_field paginate_form.paginate_by %}
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    htmx.find('#delete_bulk').classList.add('disabled')

</script>
