{% load static %}
{% load django_bootstrap5 %}

<link rel="stylesheet" href="{% static 'css/raptormc.css' %}">

<div class="card bg-dark text-white p-1 mt-0 mb-0 opacity-75 container">
  <form action="{% url 'raptormc:login' %}" method="POST">

    {% csrf_token %}
    {% bootstrap_form login_form %}
    <div class="loginSubmit opacity-100">
      {% bootstrap_button button_type="submit" content="Login" %}
    </div>
    <a role="button" type="button" class="btn btn-discord mt-2 opacity-100" href="{% url 'raptormc:login_oauth' %}">Login with Discord</a>

  </form>
</div>
