{% extends 'raptormc/base.html' %}
{% load django_bootstrap5 %}

{% block page_title %}
<title>
  
  ShadowRaptor | Login
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Login" />
<meta property="og:description" content="Login to ShadowRaptor Network's Website" />
<meta property="og:url" content="https://shadowraptor.net/login" />
{% endblock %}

{% block main_block %}
<section id="login" class="container">

    <header class="card bg-dark opacity-75 text-white p-4 mt-4">
      <h3 class="pageHeader fw-bold text-center">Login</h3>
      <p class="pageContent">No Account? <a href="{% url 'raptormc:register' %}">Register here.</a></p>
    </header>

    <section>
    
      <div class="card bg-light p-3 mt-4 opacity-75 container">
        <a role="button" href="{% url 'raptormc:login_oauth' %}" class="btn btn-discord">
          Login with Discord
        </a>
      </div>
    
    </section>
    
    <section>

      <div class="card bg-light p-3 mt-4 opacity-75 container">
        <form action="{% url 'raptormc:login' %}" method="POST">

          {% csrf_token %}
          {% bootstrap_form login_form %}
          {% bootstrap_button button_type="submit" content="Login" %}

        </form>
      </div>

    </section>
  
  </section>
{% endblock %}
