{% extends 'raptormc/base.html' %}
{% load django_bootstrap5 %}

{% block page_title %}
<title>
  
  ShadowRaptor | Create Account
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Create Account" />
<meta property="og:description" content="Register an account at ShadowRaptor Network's Website" />
{% endblock %}

{% block main_block %}
<section id="register" class="container">

    <header class="card bg-dark opacity-75 text-white p-4 mt-4">
      <h3 class="pageHeader fw-bold text-center">Create Account</h3>
      <p class="pageContent">User profiles, and functionality that comes with it, are still under development. Feel free to create an account now, to have access to it when it is finished.</p>
    </header>

    <section>

      {% if registered %}
        <div class="card bg-light p-3 mt-4 opacity-75 container">
          <h3 class="pageHeader fw-bold text-center">Thank you for creating an account!</h3>
        </div>
      {% else %}
        <div class="card bg-light p-3 mt-4 opacity-75 container">
          <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            {% bootstrap_form register_form %}
            {% bootstrap_form extra_form %}
            {% bootstrap_button button_type="submit" content="Create Account" %}
            {% bootstrap_button button_type="reset" content="Reset" %}

          </form>
        </div>
      {% endif %}

    </section>
  
  </section>
{% endblock %}
