<head hx-head="merge">
  <title>{{ site_info_model.brand_name }} | Staff Applications</title>
  <meta name="description" content="{{ Applications_Information.content|striptags }}" hx-preserve="true" hx-head="re-eval">
</head>

<section id="welcome" class="container mt-4">

  {% if Applications_Information.enabled %}
  <header class="card bg-dark opacity-75 text-white p-4">
    <h3 class="pageHeader fw-bold text-center mb-2">
      {{ site_info_model.brand_name }} Staff Applications
    </h3>
    <hr>
    <div class="pageContent">
      {{ Applications_Information.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<div id="staffapps"
     hx-get="{% url 'staffapps:all_apps' %}"
     hx-trigger="load"
     hx-target="#staffapps"
     hx-swap="innerHTML">
</div>
