{% extends 'raptormc/base.html' %}

{% block page_title %}
<title>
  
  ShadowRaptor | Staff Applications
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Staff Applications" />
<meta property="og:description" content="{{ staffapp_info.content|striptags }}" />
<meta property="og:url" content="https://shadowraptor.net/applications" />
{% endblock %}

{% block main_block %}

<section id="welcome" class="container">

  {% if Staff_App_Information.enabled %}
  <header class="card bg-dark opacity-75 text-white p-4 mt-4">
    <h3 class="pageHeader fw-bold text-center mb-2">ShadowRaptor Staff Applications</h3>
    <hr>
    <div class="pageContent">
      {{ Staff_App_Information.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<div id="staffapps" hx-get="{% url 'staffapps:all_apps' %}" hx-trigger="load" hx-target="#staffapps" hx-swap="innerHTML"></div>


{% endblock %}
