{% extends 'raptormc/base.html' %}
{% load markdownStrip %}
{% load serverContext %}

{% block page_title %}
<title>
  
  ShadowRaptor | Announcements
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Announcements" />
<meta property="og:description" content="The last 30 announcements made by ShadowRaptor Network" />
<meta property="og:url" content="https://shadowraptor.net/announcements" />
{% endblock %}

{% block main_block %}

<section id="welcome" class="container mb-0">

  {% if Announcements_Information.enabled %}
    <header class="card bg-dark opacity-75 text-white p-4 mt-4">
      <h3 class="pageHeader fw-bold text-center mb-2">Announcements</h3>
      <hr>
      <div class="pageContent">
        {{ Announcements_Information.content|safe }}
      </div>
    </header>
  {% endif %}

</section>

<section id="discordAnnouncements" class="container mt-0">

  {% autoescape off %}
  <header class="p-0 mt-4">
    <div class="accordion opacity-75 mt-2 container" id="ruleAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="globalAnnouncements">
          <button class="accordion-button collapsed pageHeader text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGlobal" aria-expanded="true" aria-controls="collapseGlobal">
            Network Announcements
          </button>
        </h2>
        <div id="collapseGlobal" class="accordion-collapse collapse" aria-labelledby="collapseGlobal">
          <div class="accordion-body pageContent p-4">
            {% for announcement in announcements %}
              <div class="pageContent card bg-dark text-white opacity-100 mt-4">
                <p class="pageContent p-4">{{ announcement.message|strip_markdown|strip_discord|https_to_discord|linebreaksbr }}</p>
                <p class="pageHeader card-footer opacity-75 mb-0 fw-bold">By: {{ announcement.author }} on {{ announcement.date }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% for server in server_info reversed %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="{{ server|get_key }}Announcements">
            <a id="{{ server|get_key }}"></a>
            <button class="accordion-button collapsed pageHeader text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ server|get_key }}" aria-expanded="true" aria-controls="collapse{{ server|get_key }}">
              {{ server|get_modpack_name }} Announcements
            </button>
          </h2>
          <div id="collapse{{ server|get_key }}" class="accordion-collapse collapse" aria-labelledby="collapse{{ server|get_key }}">
            <div class="accordion-body pageContent p-3">
              {% for key, items in server.items %}
                {% for message in items.announcements %}
                  <div>
                    <div class="pageContent card bg-dark text-white opacity-100 mt-4 mb-4">
                      <p class="pageContent p-4">{{ message|get_message|strip_markdown|strip_discord|https_to_discord|linebreaksbr }}</p>
                      <p class="pageHeader card-footer opacity-75 mb-0 fw-bold">By: {{ message|get_author }} on {{ message|get_date }}</p>
                    </div>
                  </div>
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
  </header>
  {% endautoescape %}

</section>
{% endblock %}
