{% extends 'raptormc/base.html' %}
{% load serverContext %}

{% block page_title %}
<title>
  
  ShadowRaptor | Banned Items
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Banned Items" />
{% endblock %}

{% block main_block %}
<section id="bannedItemsIntro" class="container">

  {% if banneditems_info.enabled %}
  <header class="card bg-dark opacity-75 text-white p-4 m-0 mt-4">
    <h3 class="pageHeader fw-bold text-center mb-2">ShadowRaptor Banned Items</h3>
    <hr>
    <div class="pageContent">
      {{ banneditems_info.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<section id="bannedItemBoxes" class="row m-0 mb-3 mt-3">

  {% for server in server_info %} 
  
    <div class="col-12 col-lg-6">
      <div class="infoCard card bg-light mt-4 opacity-75 container-flex">
        <a id="{{ server|get_key }}"></a>
        <h3 class="pageHeader card-header fw-bold text-center text-break">{{ server|get_modpack_name }} Banned Items</h3>
        <div class="pageContent p-4">
          {{ server|get_banned_items|safe }}
        </div>
      </div>
    </div>

  {% endfor %}

</section>
{% endblock %}
