{% extends 'raptormc/base.html' %}

{% block page_title %}
<title>
  
  {{ site_info_model.brand_name }} | Banned Items
  
</title>
{% endblock %}
{% block seo_data %}
    {{ block.super }}
{% endblock %}
{% block metadata %}
<meta property="og:title" content="{{ site_info_model.brand_name }} | Banned Items" />
<meta property="og:description" content="{{ banneditems_info.content|striptags }}" />
<meta property="og:url" content="{{web_proto}}://{{pub_domain}}/banneditems" />
{% endblock %}

{% block main_block %}
<section id="bannedItemsIntro" class="container mt-4">

  {% if Banned_Items_Information.enabled %}
  <header class="card bg-dark opacity-75 text-white p-4">
    <h3 class="pageHeader fw-bold text-center mb-2">{{ site_info_model.brand_name }} Banned Items</h3>
    <hr>
    <div class="pageContent">
      {{ Banned_Items_Information.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<section id="bannedItemBoxes" class="m-0 mb-3 mt-4">

  <div class="accordion opacity-75 mt-2 container" id="bannedItemAccordion">
  <div id="server_banned_items" hx-get="{% url 'gameservers:server_banned_items_poll' %}" hx-trigger="load" hx-target="#server_banned_items" hx-swap="outerHTML"></div>

</section>
{% endblock %}
