{% extends 'raptormc/base.html' %}

{% block page_title %}
<title>
  
  ShadowRaptor | Banned Items
  
</title>
{% endblock %}

{% block main_block %}
<section id="ruleIntro" class="container">

  <header class="card bg-transparent border-white text-white p-3 mt-3">
    <h3 class="display-4 fw-bold text-center">ShadowRaptor Banned Items</h3>
    <p class="fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum cum, amet quas exercitationem tempore voluptatum 
      illum magni dolores dicta enim consequuntur eaque, blanditiis accusantium deserunt. Consectetur quas ratione et cum!</p>
  </header>

</section>

<section id="ruleBoxes" class="row mt-3">

  <div class="col-12 col-md-12">
    <div class="card bg-light p-3 mt-4 opacity-75 container">
      <h3 class="display-6 fw-bold text-center text-break">Nomifactory</h3>
      <p class="fs-4 text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum cum, amet quas exercitationem tempore voluptatum 
        illum magni dolores dicta enim consequuntur eaque, blanditiis accusantium deserunt. Consectetur quas ratione et cum!</p>
    </div>
  </div>

</section>
{% endblock %}
