<!DOCTYPE html>

{% load static %}
{% load serverContext %}

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ShadowRaptorMC is a Modded Minecraft server network dedicated to creating a fun and stable environment to play the best that modded Minecraft has to offer!">
    <meta name="keywords" content="modded minecraft server,ftb modded server,minecraft modded server,nomifactory server,ftb ultimate anniversary server,ftb ultimate server,oceanblock server, enigmatica 6 server, chroma technology 2 server,nomifactory servers,ftb ultimate servers,oceanblock servers, enigmatica 6 servers, chroma technology 2 servers,nomifactory,ftbultimate, chromatechnology, ftboceanblock, enigmatica6expert">
    {% block page_title %}
    {% endblock %}
    {% block metadata %}
    {% endblock %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'image/ShadowRaptorAvatar.webp' %}" />
    <meta property="og:locale" content="en_US" />
    <meta name="theme-color" content="#39912b">
    <script src="{% static 'javascript/src/dep/htmx.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/raptormc.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
  </head>

  <body id="body" style="background-color: rgba(0,13,33,255)">
    
    <div hx-get="/server_button_poll" hx-trigger="load delay:0.3s, every 120s" hx-target="#server_buttons" hx-swap="innerHTML"></div>
    <div hx-get="/server_modal_poll" hx-trigger="load delay:0.3s, every 120s" hx-target="#server_modals" hx-swap="innerHTML"></div>
    <div hx-get="/total_count_poll" hx-trigger="load delay:0.3s, every 120s" hx-target="#total_count" hx-swap="innerHTML"></div>
    
    <div id="server_modals"> 
    </div>

    <div id="headerBox" class="container-flex" style="background-image: url({% static 'image/background.webp' %}); background-color: rgba(0,13,33,255); background-position: top center; background-attachment: scroll;">

      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <div class="navbar-header d-flex">
            <div class="row p-2 pt-1 pb-1">
              <a class="col-3 col-sm-2 col-lg-1 btn btn-outline-secondary" role="button" data-bs-toggle="tooltip" 
              data-bs-title="{{ onlineMembers }}/{{ totalMembers }} Members Online" href="https://discord.gg/GEhyhku" target="_blank">
                <img id="discordBanner" src="{% static 'image/discord_banner.webp' %}" alt="Discord">
              </a>
            </div>
          </div>
        </div>
      </nav>
      
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <div class="d-flex">
            <div class="navbar-header d-flex">
              <button id="navToggle" class="navbar-toggler m-3 mt-0 mb-0 border-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon" ></span>
              </button>
              <a class="navbar-brand m-3 mt-0 mb-0" href="{% url 'raptormc:home' %}">
                <img id="navImage" class="w-75" src="{% static 'image/letters.webp' %}">
              </a>
            </div>
            <div class="navbar-header d-flex">
              <div id="spacer" class="col-lg-2 col-0">
                <span></span>
              </div>
              <p id="loginRegister" class="mt-2 mb-2 p-0 w-75 row">

                {% if user.is_authenticated %}
                <a class="col btn btn-dark fs-4 border border-2 p-1 pt-0 pb-0" href="{% url 'raptormc:logout' %}" role="button">
                  <img id="navImage" class="p-0" src="{% static 'image/logout.webp' %}">
                </a>
                {% else %}
                <a class="col btn btn-dark fs-4 border border-2 p-1 pt-0 pb-0" href="{% url 'raptormc:login' %}" role="button">
                  <img id="navImage" class="p-0" src="{% static 'image/login.webp' %}">
                </a></span>
                {% endif %}
                <a class="col btn btn-dark fs-4 border border-2 p-1 pt-0 pb-0" href="{% url 'raptormc:register' %}" role="button">
                  <img id="navImage" class="p-0" src="{% static 'image/register.webp' %}">
                </a>
                
              </p>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-2 mb-2 mb-lg-0">
  
              <li class="nav-item"> 
                <a class="nav-link active text-white text-nowrap fs-5" href="{% url 'raptormc:announcements' %}">Announcements</a> 
              </li>
              
              <li class="nav-item"> 
                <a class="nav-link active text-white text-nowrap fs-5" href="{% url 'raptormc:rules' %}">Rules</a> 
              </li>
  
              <li class="nav-item">
                <a class="nav-link text-white text-nowrap fs-5" href="{% url 'raptormc:banned_items' %}">Banned Items</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white text-nowrap fs-5" href="{% url 'raptormc:voting' %}">Vote for Us</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link text-white text-nowrap fs-5" href="{% url 'raptormc:joining' %}">How to Join</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link text-white text-nowrap fs-5" href="https://discord.com/channels/740388741079760937/976667149986852984" target="_blank">Get Support <img class="new_tab_icon filter-white" src="{% static 'image/new_tab_white.svg' %}" alt="Opens in new tab"></a>
              </li>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Donate</a>
                <ul class="dropdown-menu bg-dark">
                  <li><a class="dropdown-item text-white" href="https://donate.shadowraptor.net/" target="_blank">Packages <img class="new_tab_icon" src="{% static 'image/new_tab_white.svg' %}" alt="Opens in new tab"></a></li>
                  <li><a class="dropdown-item text-white" href="https://www.patreon.com/shadowraptornetwork" target="_blank">Patreon <img class="new_tab_icon" src="{% static 'image/new_tab_white.svg' %}" alt="Opens in new tab"></a></li>
                </ul>
              </li>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,400">More</a>
                <ul class="dropdown-menu dropdown-menu-start bg-dark">
                  <li><a class="dropdown-item text-white" href={% url 'raptormc:staff_apps' %}>Staff Applications</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-white" href="https://bans.shadowraptor.net/" target="_blank">Punishments <img class="new_tab_icon" src="{% static 'image/new_tab_white.svg' %}" alt="Opens in new tab"></a></li>
                </ul>
              </li>
  
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="container">

        <header class="container-fluid row m-2 mt-0">

          <section class="col-lg col-12 fs-2 mt-3 d-flex align-items-center flex-column">
  
            <button class="mt-auto btn btn-lg btn-dark" data-bs-toggle="modal" data-bs-target="#playerNames" id="totalPlayers">
              <aside class="fs-4 text-white opacity-75 p-3 pt-0 pb-0" >Currently Playing: <span id="total_count" class="fs-1">
              <img id="loadingSpinnerCount" src="{% static 'image/tail-spin.svg' %}" alt="Loading..."></span></aside>
              <aside class="fs-6 text-white opacity-75 p-3 pt-0 pb-0">Click to view players!</aside>
            </button>
            <span id="spacer" class="mt-auto"></span>
  
          </section>
  
          <section class="col-lg col-12 fs-4 mt-2 mb-3">
  
            <i id="copyAddress" class="row">
  
              <div id="spacer" class="col-lg-4 col-0">
                <span></span>
              </div>

              <div id="server_buttons" class="col-lg-8 col-12 row">

                {% for server in server_info reversed %}
                  <span id="serverButton" class="col-lg-12 col-6 mt-2 opacity-50">
                    <button class="btn btn-dark fs-4 w-100 align-content-center">
                      <img id="loadingSpinnerButtons" src="{% static 'image/three-dots.svg' %}" alt="Loading..." class="align-middle opacity-75">
                    </button>
                  </span>
                {% endfor %}

              </div>
  
            </i>
  
          </section>
  
        </header>

      </div>
      
    </div>

    <div id="scrollStopper"></div>

    <main id="home" class="container-flex m-5 mt-4">
      {% block main_block %}
      {% endblock %}
    </main>

    <footer>

      <div class="container">
        <p class="pageContent text-center">
          <a class="text-white" href="https://github.com/zediious" target="_blank">Website created by Zediious</a>
        </p>
        <p class="pageContent text-center">
          <a class="text-white" href="mailto:shadowraptormc@gmail.com">Contact</a>
        </p>
      </div>

    </footer>
    
    <script src="{% static 'javascript/src/dep/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'javascript/src/dep/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'javascript/src/dep/clipboard.min.js' %}"></script>
    <script src="{% static 'javascript/src/raptormc.js' %}"></script>
    
  </body>

</html>
