<!DOCTYPE html>

{% load static %}
{% load serverContext %}

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ShadowRaptorMC is a Modded Minecraft server network dedicated to creating a fun and stable environment to play the best that modded Minecraft has to offer!">
    <meta name="keywords" content="modded minecraft server,ftb modded server,minecraft modded server,nomifactory server,ftb ultimate anniversary server,ftb ultimate server,oceanblock server, enigmatica 6 server, chroma technology 2 server,nomifactory servers,ftb ultimate servers,oceanblock servers, enigmatica 6 servers, chroma technology 2 servers,nomifactory,ftbultimate, chromatechnology, ftboceanblock, enigmatica6expert">
    {% block page_title %}
    {% endblock %}
    {% block metadata %}
    {% endblock %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'image/ShadowRaptorAvatar.webp' %}" />
    <meta property="og:locale" content="en_US" />
    <meta name="theme-color" content="#39912b">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/raptormc.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
  </head>

  <body id="body" style="background-color: rgba(0,13,33,255)">

    <div class="modal fade" id="playerNames" tabindex="-1" aria-labelledby="Online Player Names" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
          <button type="button" class="btn-close btn-close-white p-3 mb-0" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-body pt-0">
            
            {% for server in server_info reversed %} 
              {% if forloop.counter0 != 0 %}
              <hr>
              {% endif %}
              <h5 class="fs-4 text-center text-decoration-underline mb-3">{{ server|get_modpack_name}}</h5>
              {% if server|get_player_names %}
              <span class=" d-block text-center">{{ server|get_player_names|join:", "}}</span>
              {% else %}
              <span class=" d-block text-center">No players online</span>
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

    {% for server in server_info reversed %} 
    
      <div class="modal fade" id="{{ server|get_key }}Info" tabindex="-1" aria-labelledby="{{ server|get_modpack_name }} Information" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-dark text-white">
            <button type="button" class="btn-close btn-close-white m-3" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="row">
                <h3 class="col-12 modal-title" id="{{ server|get_key }}InfoModal"><a href="{{ server|get_modpack_url }}" target="_blank">
                  <img class="w-100" src="/media/modpack_pictures/{{ server|get_key}}.webp" alt="{{ server|get_modpack_name }}"></a>
                </h3>
                <button class="col-12 mt-3 btn btn-outline-success copy{{ server|get_key }}Address" data-clipboard-text={{ server|get_address }}
                data-bs-toggle="tooltip" data-bs-title="Click to copy address!">
                  <p class="fs-4"> Join at: <span id="{{ server|get_key }}Address" class="fs-2 fw-semibold">{{ server|get_address }}</span></p>
                </button>
              </div>
            </div>
            <div class="modal-body" id="{{ server|get_key }}Desc">
              {{ server|get_modpack_desc|safe }}
              <hr>
              {{ server|get_server_desc|safe }}
              <p class="text-center">
                <span class="pageContent">The server is running: <strong>v{{ server|get_modpack_version}}</strong></span>
              </p>
            </div>
            <div class="modal-footer justify-content-center">

              {% if request.path == '/announcements/' %}
                <a role="button" class="btn btn-outline-secondary disabled" href="{% url 'raptormc:announcements' %}#{{ server|get_key }}">
                  Announcements
                </a>
              {% else %}
                <a role="button" class="btn btn-outline-secondary" onclick="nomiRule()" href="{% url 'raptormc:announcements' %}#{{ server|get_key }}">
                  Announcements
                </a>
              {% endif %}
              
              {% if request.path == '/rules/' %}
                <a role="button" class="btn btn-outline-secondary disabled" href="{% url 'raptormc:rules' %}#{{ server|get_key }}">
                  Rules
                </a>
              {% else %}
                <a role="button" class="btn btn-outline-secondary" onclick="nomiRule()" href="{% url 'raptormc:rules' %}#{{ server|get_key }}">
                  Rules
                </a>
              {% endif %}

              {% if request.path == '/banneditems/' %}
                <a role="button" class="btn btn-outline-secondary disabled" href="{% url 'raptormc:banned_items' %}#{{ server|get_key }}">
                  Banned Items
                </a>
              {% else %}
                <a role="button" class="btn btn-outline-secondary" href="{% url 'raptormc:banned_items' %}#{{ server|get_key }}">
                  Banned Items
                </a>
              {% endif %}

              {% if request.path == '/voting/' %}
                <a role="button" class="btn btn-outline-secondary disabled" href="{% url 'raptormc:voting' %}#{{ server|get_key }}">
                  Vote
                </a>
              {% else %}
                <a role="button" class="btn btn-outline-secondary" href="{% url 'raptormc:voting' %}#{{ server|get_key }}">
                  Vote
                </a>
              {% endif %}

            </div>
          </div>
        </div>
      </div>

    {% endfor %}

    <div id="headerBox" class="container-flex" style="background-image: url({% static 'image/background.webp' %}); background-color: rgba(0,13,33,255); background-position: top center; background-attachment: scroll;">

      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <div class="navbar-header d-flex">
            <div class="row p-2 pt-1 pb-1">
              <a class="col-3 col-sm-2 col-lg-1 btn btn-outline-secondary" role="button" data-bs-toggle="tooltip" 
              data-bs-title="{{ onlineMembers }}/{{ totalMembers }} Members Online" href="https://discord.gg/GEhyhku" target="_blank">
                <img id="discordBanner" src="{% static 'image/discord_banner.webp' %}" alt="Discord">
              </a>
            </div
          </div>
        </div>
      </nav>
      
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <div class="d-flex">
            <div class="navbar-header d-flex">
              <button id="navToggle" class="navbar-toggler m-3 mt-0 mb-0 border-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon" ></span>
              </button>
              <a class="navbar-brand m-3 mt-0 mb-0" href="{% url 'raptormc:home' %}">
                <img id="navImage" class="w-75" src="{% static 'image/letters.webp' %}">
              </a>
            </div>
            <div class="navbar-header d-flex">
              <div id="spacer" class="col-lg-2 col-0">
                <span></span>
              </div>
              <p id="loginRegister" class="mt-2 mb-2 p-0 w-75 row">

                {% if user.is_authenticated %}
                <a class="col btn btn-dark fs-4 border border-2 p-1 pt-0 pb-0" href="{% url 'raptormc:logout' %}" role="button">
                  <img id="navImage" class="p-0" src="{% static 'image/logout.webp' %}">
                </a>
                {% else %}
                <a class="col btn btn-dark fs-4 border border-2 p-1 pt-0 pb-0" href="{% url 'raptormc:login' %}" role="button">
                  <img id="navImage" class="p-0" src="{% static 'image/login.webp' %}">
                </a></span>
                {% endif %}
                <a class="col btn btn-dark fs-4 border border-2 p-1 pt-0 pb-0" href="{% url 'raptormc:register' %}" role="button">
                  <img id="navImage" class="p-0" src="{% static 'image/register.webp' %}">
                </a>
                
              </p>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-2 mb-2 mb-lg-0">
  
              <li class="nav-item"> 
                <a class="nav-link active text-white text-nowrap fs-5" href="{% url 'raptormc:announcements' %}">Announcements</a> 
              </li>
              
              <li class="nav-item"> 
                <a class="nav-link active text-white text-nowrap fs-5" href="{% url 'raptormc:rules' %}">Rules</a> 
              </li>
  
              <li class="nav-item">
                <a class="nav-link text-white text-nowrap fs-5" href="{% url 'raptormc:banned_items' %}">Banned Items</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white text-nowrap fs-5" href="{% url 'raptormc:voting' %}">Vote for Us</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link text-white text-nowrap fs-5" href="{% url 'raptormc:joining' %}">How to Join</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link text-white text-nowrap fs-5" href="https://discord.com/channels/740388741079760937/976667149986852984" target="_blank">Get Support</a>
              </li>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Donate</a>
                <ul class="dropdown-menu bg-dark">
                  <li><a class="dropdown-item text-white" href="https://donate.shadowraptor.net/" target="_blank">Packages</a></li>
                  <li><a class="dropdown-item text-white" href="https://www.patreon.com/shadowraptornetwork" target="_blank">Patreon</a></li>
                </ul>
              </li>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,400">More</a>
                <ul class="dropdown-menu dropdown-menu-start bg-dark">
                  <li><a class="dropdown-item text-white" href={% url 'raptormc:staff_apps' %}>Staff Applications</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-white" href="https://bans.shadowraptor.net/" target="_blank">Punishments</a></li>
                </ul>
              </li>
  
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="container">

        <header class="container-fluid row m-2 mt-0">

          <section class="col-lg col-12 fs-2 mt-3 d-flex align-items-center flex-column">
  
            <button class="mt-auto btn btn-lg btn-dark" data-bs-toggle="modal" data-bs-target="#playerNames" id="totalPlayers">
              <aside class="fs-4 text-white opacity-75 p-3 pt-0 pb-0" >Currently Playing: <span class="fs-1">{{ totalCount }}</span></aside>
              <aside class="fs-6 text-white opacity-75 p-3 pt-0 pb-0">Click to view players!</aside>
            </button>
            <span id="spacer" class="mt-auto"></span>
  
          </section>
  
          <section class="col-lg col-12 fs-4 mt-2 mb-3">
  
            <i id="copyAddress" class="row">
  
              <div id="spacer" class="col-lg-4 col-0">
                <span></span>
              </div>
  
              <div class="col-lg-8 col-12 row">

                {% for server in server_info reversed %} 

                  {% if server == 'view' or server == 'totalCount' %}
                  {% else %}
                                    
                    <span id="serverButton" class="col-lg-12 col-6 mt-2"><button class="btn btn-dark fs-4 d-flex" data-bs-toggle="modal" data-bs-target="#{{ server|get_key }}Info"><img class="w-100" src="/media/modpack_pictures/{{ server|get_key}}.webp" alt="{{ server|get_modpack_name }}">
                      {% if server|get_maintenance %}
                        <img class="w-25 p-2" src="{% static 'image/maintenance_indicator.webp' %}">
                      {% else %}
                        {% if server|get_state %}
                        <img class="w-25 p-2" src="{% static 'image/online_indicator.webp' %}">
                        {% else %}
                        <img class="w-25 p-2" src="{% static 'image/offline_indicator.webp' %}">
                        {% endif %}
                      {% endif %}
                    </button></span>

                  {% endif %}

                {% endfor %}

              </div>
  
            </i>
  
          </section>
  
        </header>

      </div>
      
    </div>

    <div id="scrollStopper"></div>

    <main id="home" class="container-flex m-5 mt-4">
      {% block main_block %}
      {% endblock %}
    </main>

    <footer>

      <div class="container">
        <p class="pageContent text-center">
          <a class="text-white" href="https://github.com/zediious" target="_blank">Website created by Zediious</a>
        </p>
        <p class="pageContent text-center">
          <a class="text-white" href="mailto:shadowraptormc@gmail.com">Contact</a>
        </p>
      </div>

    </footer>
    
    <script src="{% static 'javascript/src/dep/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'javascript/src/dep/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'javascript/src/dep/clipboard.min.js' %}"></script>
    <script src="{% static 'javascript/src/raptormc.js' %}"></script>
    
  </body>

</html>
