<!DOCTYPE html>

{% load static %}
{% load django_bootstrap5 %}
{% load urlStrip %}
{% load addParams %}

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8" hx-preserve="true">
    <meta name="viewport" content="width=device-width, initial-scale=1" hx-preserve="true">
    <meta property="og:type" content="website"/ hx-preserve="true" hx-preserve="true">
    <meta property="og:locale" content="en_US" hx-preserve="true" hx-preserve="true"/>
    <meta property="og:title" content="{{ og_title }}" hx-preserve="true"/>
    <meta property="og:description" content="{{ og_desc }}" hx-preserve="true"/>
    <meta property="og:url" content="{{ og_url }}" hx-preserve="true"/>
    <meta property="og:image" content="{{ og_image }}" hx-preserve="true"/>
    <script src="{% static 'javascript/src/dep/htmx.min.js' %}" hx-preserve="true"></script>
    <script src="{% static 'javascript/src/dep/head-support.js' %}" hx-preserve="true"></script>
    <link rel="stylesheet" href="{% static 'css/raptormc.css' %}" hx-preserve="true">
    <link rel="shortcut icon" type="image/x-icon"
          href="{% if small_site_info.ico_image %}{{small_site_info.ico_image.url}}{% endif %}"
          hx-preserve="true">
  </head>

  <body hx-ext="head-support"
        id="body"
        {% if site_info_model.use_main_color %}
        style="background-color: {{ site_info_model.main_color }}";
        {% endif %}>

    {% include "panel/panel_toasts.html" %}

    <div class="sticky-top" id="sticky-nav" style="z-index: 1">

      {% include "raptormc/navigation/lowernav.html" %}

    </div>

    <div id="backgroundWrapper" 
         style="background-image: url({% if site_info_model.background_image %}{{site_info_model.background_image.url}}{% endif %});
         {% if site_info_model.use_secondary_color %}
         background-color: {{ site_info_model.secondary_color }};
         {% endif %}">

      {% comment %} topBox containing Navigation elements {% endcomment %}
      <div id="topBox" style="z-index: 1">

        {% include "raptormc/navigation/offcanvasnav.html" %}
        {% include "raptormc/navigation/navwidgets.html" %}

      </div>

      {% comment %} header_box containing Server button and player count elements {% endcomment %}
      {% include "raptormc/components/headerbox.html" %}
      
    </div>

    {% comment %} Loading indicator for requests that replace #home {% endcomment %}
    <div class="d-flex justify-content-center">
      <img id="mainLoadingspinner"
           class="htmx-indicator loadingSpinnerMain mt-5 pt-5"
           src="{% static 'image/tail-spin.svg' %}"
           alt="Loading...">
    </div>

    {% comment %} Main block for page content {% endcomment %}
    <main id="home" class="container-flex m-xl-5 m-sm-1 mt-0 fade-in-main loaded-content" hx-history-elt>
    
      {% if is_404 == 'true' %}
        {% include "raptormc/404.html" %}
      {% else %}
        {% if request.path == '/' %}
          <div hx-get='{% url "raptormc:home" %}'
               hx-trigger='load'
               hx-target='#home'
               hx-swap="innerHTML"
               hx-indicator="#mainLoadingspinner"></div>
        {% else %}
          <div hx-get="/raptormc/api/html/{{request.path|strip_slash}}{% if request.GET %}?{% for param in request.GET %}{{param}}={% get_param param %}&{% endfor %}{% endif %}"
               hx-trigger='load'
               hx-target='#home'
               hx-swap="innerHTML"
               hx-indicator="#mainLoadingspinner">
          </div>
        {% endif %}
      {% endif %}
      
    </main>

    {% comment %} JS Imports {% endcomment %}
    <script src="{% static 'javascript/src/dep/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'javascript/src/dep/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'javascript/src/dep/clipboard.min.js' %}"></script>
    <script src="{% static 'javascript/src/backgroundScroll.js' %}"></script>
    <script src="{% static 'javascript/src/modalClose.js' %}"></script>

    {% comment %} Notification Toast elements and script {% endcomment %}
    {% include "raptormc/components/toasts.html" %}

    {% comment %} Static website footer {% endcomment %}
    {% include "raptormc/components/footer.html" %}

    {% comment %} If serverbox did not load, instantiate Bootstrap tooltip object. {% endcomment %}
    {% if total_server_count == 0 %}
    <script>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    {% endif %}
    
  </body>

</html>
