{% extends 'raptormc/base.html' %}

{% block page_title %}
<title>
  
  ShadowRaptor | Home
  
</title>
{% endblock %}

{% block main_block %}
<section id="welcome" class="container">

  <header class="card bg-dark opacity-75 text-white p-4 mt-4">
    <h3 class="pageHeader fw-bold text-center mb-5">Welcome to ShadowRaptor</h3>
    {% if home_info %}
      <div class="pageContent">
        {{ home_info.content|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
  </header>

</section>
{% endblock %}
