{% extends 'raptormc/base.html' %}

{% block page_title %}
<title>
  
  ShadowRaptor | Home
  
</title>
{% endblock %}

{% block main_block %}
<section id="welcome" class="container">

  <header class="card bg-transparent border-white text-white p-3 mt-4">
    <h3 class="display-4 fw-bold text-center">Welcome to ShadowRaptor</h3>
    {% if home_info %}
    <p class="m-5 mt-1 mb-1 p-3 fs-4">
      {{ home_info.content|safe }}
    </p>
    {% else %}
    <p class="fs-4">
      Model content not loaded
    </p>
    {% endif %}
  </header>

</section>
{% endblock %}
