<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShadowRaptor</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>

  <body class="p-5 mb-4 bg-dark bg-opacity-75">

      <div class="container py-5">

        <img src="{% static 'image/letters.png' %}"></img>

        <div class="card bg-light p-3 mt-3">

          <h3 class="display-4 fw-bold">Welcome to ShadowRaptor</h3>
          <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum cum, amet quas exercitationem tempore voluptatum 
            illum magni dolores dicta enim consequuntur eaque, blanditiis accusantium deserunt. Consectetur quas ratione et cum!</p>
          <i class="display-5">Players Online: {{ player_count }}</i>

        </div>
      </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
  </body>

</html>
