{% extends 'raptormc/base.html' %}

{% block page_title %}
<title>
  
  ShadowRaptor | How to Join
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | How to Join" />
<meta property="og:description" content="{{ joining_info.content|striptags }}" />
<meta property="og:url" content="https://shadowraptor.net/howtojoin" />
{% endblock %}

{% block main_block %}
<section id="joiningIntro" class="container">

  {% if Joining_Information.enabled %}
  <header class="card bg-dark opacity-75 text-white p-4 mt-4">
    <h3 class="pageHeader fw-bold text-center mb-2">Joining ShadowRaptor Servers</h3>
    <hr>
    <div class="pageContent">
      {{ Joining_Information.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<section id="joinBoxes" class="row mt-3">

  {% if Using_the_CurseForge_Launcher.enabled %}
  <div class="col-12">
    <div class="card bg-light mt-4 opacity-75 container">
      <h3 class="pageHeader card-header fw-bold text-center text-break">CurseForge Launcher</h3>
      <div class="pageContent p-4">
        {{ Using_the_CurseForge_Launcher.content|safe }}
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}

  {% if Using_the_FTB_Launcher.enabled %}
  <div class="col-12">
    <div class="card bg-light mt-4 opacity-75 container">
      <h3 class="pageHeader card-header fw-bold text-center text-break">Feed the Beast App</h3>
      <div class="pageContent p-4">
        {{ Using_the_FTB_Launcher.content|safe }}
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}

  {% if Using_the_Technic_Launcher.enabled %}
  <div class="col-12">
    <div class="card bg-light mt-4 opacity-75 container">
      <h3 class="pageHeader card-header fw-bold text-center text-break">Technic Launcher</h3>
      <div class="pageContent p-4">
        {{ Using_the_Technic_Launcher.content|safe }}
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}

</section>
{% endblock %}
