{% extends 'raptormc/base.html' %}

{% block page_title %}
<title>
  
  ShadowRaptor | Access Denied
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Access Denied" />
<meta property="og:description" content="Access Denied Page for ShadowRaptor" />
<meta property="og:url" content="https://shadowraptor.net/accessdenied/" />
{% endblock %}

{% block main_block %}

    <div class="container">
        <header class="card bg-dark opacity-75 text-white p-4 mt-4">
            <h3 class="pageHeader fw-bold text-center">You do not have permission to manage this resource</h3>
        </header>
    </div>

{% endblock %}