<head>
    <title>{{ site_info_model.brand_name }} | {{page.name}}</title>
    {% if page.meta_description and page.meta_keywords != "" %}
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="keywords" content="{{ page.meta_keywords }}">
    {% endif %}
    <meta property="og:title" content="{{ site_info_model.brand_name }} | {{ page.name }}" />
    <meta property="og:description" content="{{ page.meta_description }}" />
    <meta property="og:url" content="{{web_proto}}://{{pub_domain}}/{{page.get_absolute_url}}" />
    {% if page.page_css %}
        <link rel="stylesheet" href="{{page.page_css.url}}">
    {% endif %}
</head>

{% autoescape off%}

    <section id="header" class="container mb-0 mt-4">

        <header class="card bg-dark opacity-75 text-white p-4">
            <h3 class="pageHeader fw-bold text-center mb-2">{{ page.name }}</h3>
        </header>

    </section>

    <section id="content" class="container mt-0">

        <header class="p-0 mt-4">
            <div class="pageContent card bg-light text-black opacity-75 mt-4 mb-4 p-4">
                {{ page.content }}
            </div>
        </header>

    </section>

{% endautoescape %}

{% if page.page_js %}
    <script src="{{page.page_js.url}}"></script>
{% endif %}