{% extends 'raptormc/base.html' %}
{% load serverContext %}

{% block page_title %}
<title>
  
  ShadowRaptor | Rules
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Rules" />
<meta property="og:description" content="{{ rules_info.content|striptags }}" />
<meta property="og:url" content="https://shadowraptor.net/rules" />
{% endblock %}

{% block main_block %}
<section id="ruleIntro" class="container">

  {% if rules_info.enabled %}
  <header class="card bg-dark opacity-75 text-white m-2 p-4 mt-4">
    <h3 class="pageHeader fw-bold text-center mb-2">ShadowRaptor Rules</h3>
    <hr>
    <div class="pageContent">
      {{ rules_info.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<section id="ruleBoxes" class="row m-1 mb-3 mt-3">

  <div class="accordion opacity-75" id="ruleAccordion">
  {% if network_rules.enabled %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="networkRules">
        <button class="accordion-button pageHeader text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNetwork" aria-expanded="true" aria-controls="collapseNetwork">
          Network-Wide Rules
        </button>
      </h2>
      <div id="collapseNetwork" class="accordion-collapse collapse show" aria-labelledby="collapseNetwork">
        <div class="accordion-body pageContent p-4">
          {{ network_rules.content|safe }}
        </div>
      </div>
    </div>
  {% endif %}
  {% for server in server_info reversed %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="{{ server|get_key }}Rules">
        <button class="accordion-button collapsed pageHeader text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ server|get_key }}" aria-expanded="true" aria-controls="collapse{{ server|get_key }}">
          {{ server|get_modpack_name }} Rules
        </button>
      </h2>
      <div id="collapse{{ server|get_key }}" class="accordion-collapse collapse" aria-labelledby="collapse{{ server|get_key }}">
        <div class="accordion-body pageContent p-4">
          {{ server|get_rules|safe }}
        </div>
      </div>
    </div>
  {% endfor %}

</section>
{% endblock %}
