{% extends 'raptormc/base.html' %}
{% load serverContext %}

{% block page_title %}
<title>
  
  ShadowRaptor | Rules
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Rules" />
<meta property="og:description" content="{{ rules_info.content|striptags }}" />
<meta property="og:url" content="https://shadowraptor.net/rules" />
{% endblock %}

{% block main_block %}
<section id="ruleIntro" class="container">

  {% if rules_info.enabled %}
  <header class="card bg-dark opacity-75 text-white m-2 p-4 mt-4">
    <h3 class="pageHeader fw-bold text-center mb-2">ShadowRaptor Rules</h3>
    <hr>
    <div class="pageContent">
      {{ rules_info.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<section id="ruleBoxes" class="row m-1 mb-3 mt-3">

  {% if network_rules.enabled %}
  <div class="col-12 col-md-12">
    <div class="infoCard card bg-light mt-4 opacity-75 container-flex">
      <div class="card-header">
        <h3 class="pageHeader fw-bold text-center text-break">Network-Wide Rules</h3>
        <h4 class="pageHeader text-center text-break">The below rules apply to all servers we host.</h3>
      </div>
      <div class="pageContent p-4">
        {{ network_rules.content|safe }}
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}

  {% for server in server_info reversed %} 
  
    <div class="col-12 col-lg-6">
      <div class="infoCard card bg-light mt-4 opacity-75 container-flex">
        <a id="{{ server|get_key }}"></a>
        <h3 class="pageHeader card-header fw-bold text-center text-break">{{ server|get_modpack_name }} Rules</h3>
        <div class="pageContent p-4">
          {{ server|get_rules|safe }}
        </div>
      </div>
    </div>

  {% endfor %}

</section>
{% endblock %}
