{% extends 'raptormc/base.html' %}

{% block page_title %}
<title>
  
  ShadowRaptor | Rules
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Rules" />
{% endblock %}

{% block main_block %}
<section id="ruleIntro" class="container">

  <header class="card bg-dark opacity-75 text-white m-2 p-4 mt-4">
    <h3 class="pageHeader fw-bold text-center mb-5">ShadowRaptor Rules</h3>
    {% if rules_info %}
      <div class="pageContent">
        {{ rules_info.content|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
  </header>

</section>

<section id="ruleBoxes" class="row m-1 mb-3 mt-3">

  <div class="col-12 col-md-12">
    <div class="infoCard card bg-light p-4 mt-4 opacity-75 container">
      <h3 class="pageHeader fw-bold text-center text-break">Network-Wide Rules</h3>
      <h4 class="pageHeader text-center text-break mb-5">The below rules apply to all servers we host.</h3>
      {% if network_rules %}
      <div class="pageContent">
        {{ network_rules.content|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light p-4 mt-4 opacity-75 container">
      <a id="Nomifactory"></a>
      <h3 class="pageHeader fw-bold text-center text-break">Nomifactory Rules</h3>
      {% if nomi_info %}
      <div class="pageContent">
        {{ nomi_info.server_rules|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light p-4 mt-4 opacity-75 container">
      <a id="Enigmatica6Expert"></a>
      <h3 class="pageHeader fw-bold text-center text-break">Enigmatica 6: Expert Rules</h3>
      {% if e6e_info %}
      <div class="pageContent">
        {{ e6e_info.server_rules|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light p-4 mt-4 opacity-75 container">
      <a id="ChromaTechnology2"></a>
      <h3 class="pageHeader fw-bold text-center text-break">Chroma Technology 2 Rules</h3>
      {% if ct2_info %}
      <div class="pageContent">
        {{ ct2_info.server_rules|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light p-4 mt-4 opacity-75 container">
      <a id="FTBUAnniversary"></a>
      <h3 class="pageHeader fw-bold text-center text-break">FTBU Anniversary Rules</h3>
      {% if ftbu_info %}
      <div class="pageContent">
        {{ ftbu_info.server_rules|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light p-4 mt-4 opacity-75 container">
      <a id="FTBOceanBlock"></a>
      <h3 class="pageHeader fw-bold text-center text-break">FTB OceanBlock Rules</h3>
      {% if ob_info %}
      <div class="pageContent">
        {{ ob_info.server_rules|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light p-4 mt-4 opacity-75 container">
      <a id="HexxitII"></a>
      <h3 class="pageHeader fw-bold text-center text-break">Hexxit II Rules</h3>
      {% if hexxit_info %}
      <div class="pageContent">
        {{ hexxit_info.server_rules|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

</section>
{% endblock %}
