{% extends 'raptormc/base.html' %}

{% block page_title %}
<title>
  
  ShadowRaptor | Voting
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Voting" />
{% endblock %}

{% block main_block %}
<section id="votingIntro" class="container">

  {% if voting_info.enabled %}
  <header class="card bg-dark opacity-75 text-white p-4 mt-4">
    <h3 class="pageHeader fw-bold text-center mb-2">ShadowRaptor Vote Links</h3>
    <hr>
    <div class="pageContent">
      {{ voting_info.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<section id="voteBoxes" class="row m-0 mb-3 mt-3">

  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light mt-4 opacity-75 container-flex">
      <a id="AlltheMods7"></a>
      {% if atm7_info %}
      <h3 class="pageHeader card-header fw-bold text-center text-break">{{ atm7_info.modpack_name }}</h3>
      <div class="pageContent p-4">
        {{ atm7_info.server_vote_links|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>
  
  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light mt-4 opacity-75 container-flex">
      <a id="Nomifactory"></a>
      {% if nomi_info %}
      <h3 class="pageHeader card-header fw-bold text-center text-break">{{ nomi_info.modpack_name }}</h3>
      <div class="pageContent p-4">
        {{ nomi_info.server_vote_links|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light mt-4 opacity-75 container-flex">
      <a id="Enigmatica6Expert"></a>
      {% if e6e_info %}
      <h3 class="pageHeader card-header fw-bold text-center text-break">{{ e6e_info.modpack_name }}</h3>
      <div class="pageContent p-4">
        {{ e6e_info.server_vote_links|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light mt-4 opacity-75 container-flex">
      <a id="ChromaTechnology2"></a>
      {% if ct2_info %}
      <h3 class="pageHeader card-header fw-bold text-center text-break">{{ ct2_info.modpack_name }}</h3>
      <div class="pageContent p-4">
        {{ ct2_info.server_vote_links|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light mt-4 opacity-75 container-flex">
      <a id="FTBUAnniversary"></a>
      {% if ftbu_info %}
      <h3 class="pageHeader card-header fw-bold text-center text-break">{{ ftbu_info.modpack_name }}</h3>
      <div class="pageContent p-4">
        {{ ftbu_info.server_vote_links|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="infoCard card bg-light mt-4 opacity-75 container-flex">
      <a id="FTBOceanBlock"></a>
      {% if ob_info %}
      <h3 class="pageHeader card-header fw-bold text-center text-break">{{ ob_info.modpack_name }}</h3>
      <div class="pageContent p-4">
        {{ ob_info.server_vote_links|safe }}
      </div>
    {% else %}
    <p class="pageContent">
      Model content not loaded
    </p>
    {% endif %}
    </div>
  </div>

</section>
{% endblock %}
