{% extends 'raptormc/base.html' %}

{% block page_title %}
<title>
  
  ShadowRaptor | Voting
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Voting" />
<meta property="og:description" content="{{ voting_info.content|striptags }}" />
<meta property="og:url" content="https://shadowraptor.net/voting" />
{% endblock %}

{% block main_block %}
<section id="votingIntro" class="container">

  {% if Voting_Information.enabled %}
  <header class="card bg-dark opacity-75 text-white p-4 mt-4">
    <h3 class="pageHeader fw-bold text-center mb-2">ShadowRaptor Vote Links</h3>
    <hr>
    <div class="pageContent">
      {{ Voting_Information.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<section id="voteBoxes" class="m-0 mb-3 mt-4">

  <div class="accordion opacity-75 mt-2 container" id="votingAccordion">
  <div id="server_voting" hx-get="{% url 'gameservers:server_voting_poll' %}" hx-trigger="load" hx-target="#server_voting" hx-swap="outerHTML"></div>

</section>
{% endblock %}
