{% extends 'raptormc/base.html' %}
{% load serverContext %}

{% block page_title %}
<title>
  
  ShadowRaptor | Voting
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Voting" />
<meta property="og:description" content="{{ voting_info.content|striptags }}" />
<meta property="og:url" content="https://shadowraptor.net/voting" />
{% endblock %}

{% block main_block %}
<section id="votingIntro" class="container">

  {% if voting_info.enabled %}
  <header class="card bg-dark opacity-75 text-white p-4 mt-4">
    <h3 class="pageHeader fw-bold text-center mb-2">ShadowRaptor Vote Links</h3>
    <hr>
    <div class="pageContent">
      {{ voting_info.content|safe }}
    </div>
  </header>
  {% else %}
  {% endif %}

</section>

<section id="voteBoxes" class="row m-0 mb-3 mt-3">

  <div class="accordion opacity-75 mt-2" id="votingAccordion">
  {% for server in server_info reversed %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="{{ server|get_key }}Voting">
        <button class="accordion-button collapsed pageHeader text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ server|get_key }}" aria-expanded="true" aria-controls="collapse{{ server|get_key }}">
          {{ server|get_modpack_name }} Vote Links
        </button>
      </h2>
      <div id="collapse{{ server|get_key }}" class="accordion-collapse collapse" aria-labelledby="collapse{{ server|get_key }}">
        <div class="accordion-body pageContent p-4">
          {{ server|get_vote_links|safe }}
        </div>
      </div>
    </div>
  {% endfor %}

</section>
{% endblock %}
