<!DOCTYPE html>

{% load static %}
{% load django_bootstrap5 %}
{% load urlStrip %}
{% load addParams %}

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" hx-preserve="true">
    <meta name="viewport" content="width=device-width, initial-scale=1" hx-preserve="true">
    <title>{{site_info.brand_name}} | Control Panel</title>
    <script src="{% static 'javascript/src/dep/htmx.min.js' %}" hx-preserve="true"></script>
    <script src="{% static 'javascript/src/dep/head-support.js' %}" hx-preserve="true"></script>
    <script src="{% static 'javascript/src/dep/bootstrap.bundle.min.js' %}" hx-preserve="true"></script>
    <link rel="stylesheet" href="{% static 'css/raptormc.css' %}" hx-preserve="true">
    <link rel="shortcut icon" type="image/x-icon"
          href="{% if small_site_info.ico_image %}{{small_site_info.ico_image.url}}{% endif %}"
          hx-preserve="true">
</head>

<body hx-ext="head-support"
      id="body"
      style="background-color: #2f3335";
>

    {% include "panel/panel_toasts.html" %}

    {% include "panel/top_bar.html" %}

    {% include "panel/panel_sidebar.html" %}

    <div class="d-flex justify-content-center">
        <img id="panelLoadingspinner"
            class="htmx-indicator loadingSpinnerMain mt-5 pt-5"
            src="{% static 'image/tail-spin.svg' %}"
            alt="Loading...">
    </div>

    <div class="m-5 mt-4 p-3">
        <main id='panel_main' class='container fade-in-main loaded-content' hx-history-elt>

            {% if is_404 == 'true' %}
                {% include "raptormc/404.html" %}
            {% else %}
                {% if request.path == '/panel/' %}
                    <div hx-get='{% url "panel:home" %}'
                        hx-trigger='load'
                        hx-target='#panel_main'
                        hx-swap="innerHTML"
                        hx-push-url="home/"
                        hx-indicator="#panelLoadingspinner"></div>
                {% else %}
                    <div hx-get="/panel/api/html/{{request.path|strip_slash}}"
                        hx-trigger='load'
                        hx-target='#panel_main'
                        hx-swap="innerHTML"
                        hx-indicator="#panelLoadingspinner">
                    </div>
                {% endif %}
            {% endif %}

        </main>
    </div>

    <footer>
        <p class="pageContent text-center">
            <a class="text-white" href="https://github.com/zediious/raptor-web" target="_blank">
                Powered by Raptor-Web
            </a>
        </p>
    </footer>

    {% comment %} JS Imports {% endcomment %}
    <script src="{% static 'javascript/src/dep/jquery-3.6.1.min.js' %}" hx-preserve="true"></script>
    <script src="{% static 'javascript/src/dep/alpine.min.js' %}" hx-preserve="true"></script>
    <script src="{% static 'javascript/src/modalClose.js' %}" hx-preserve="true"></script>


    <script>
        if( typeof window.tinymce != 'undefined' && $(window.tinymce.editors).length > 0 ){
            $(window.tinymce.editors).each(function(idx) {
              try {
              tinymce.remove(idx);
              } catch (e) {}
            });
          }
    </script>

</body>
