{% load django_bootstrap5 %}

<div class="container">
    <div class="m-2 mt-3 p-3">
        <div class="text-white">
            <header class="fs-3">Settings</header>
            <p class="fs-5">
                Here you can modify a variety of settings pertaining to the application.
            </p>
        </div>
    </div>
    <form class="form"
          enctype="multipart/form-data" 
          hx-post="{% url 'panel:settings'%}"
          hx-swap='none'
    >
        <div class="m-3">
            <div class="card bg-dark p-2">
                <div class="card-body">
                    <div class="m-3 mt-1 p-1">
                        <div class="text-white">
                            <header class="fs-5">General Settings</header>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="w-50">
                            {% csrf_token %} 
                            {% bootstrap_field SettingsInformation.brand_name %}
                            {% bootstrap_field SettingsInformation.contact_email %}
                            {% bootstrap_field SettingsInformation.enable_footer %}
                            {% bootstrap_field SettingsInformation.enable_footer_contact %}
                            {% bootstrap_field SettingsInformation.enable_footer_credit %}
                            {% bootstrap_field SettingsInformation.navigation_from_top %}
                            {% bootstrap_button button_type="submit" content="Update" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3">
            <div class="card bg-dark p-2">
                <div class="card-body">
                    <div class="m-3 mt-1 p-1">
                        <div class="text-white">
                            <header class="fs-5">SEO</header>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="w-50">
                            {% bootstrap_field SettingsInformation.meta_description %}
                            {% bootstrap_field SettingsInformation.meta_keywords %}
                            {% bootstrap_button button_type="submit" content="Update" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3">
            <div class="card bg-dark p-2">
                <div class="card-body">
                    <div class="m-3 mt-1 p-1">
                        <div class="text-white">
                            <header class="fs-5">Auth</header>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="w-50">
                            {% bootstrap_field SettingsInformation.require_login_for_user_list %}
                            {% bootstrap_button button_type="submit" content="Update" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3">
            <div class="card bg-dark p-2">
                <div class="card-body">
                    <div class="m-3 mt-1 p-1">
                        <div class="text-white">
                            <header class="fs-5">Game Servers</header>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="w-50">  
                                {% bootstrap_field SettingsInformation.enable_server_query %}
                                {% bootstrap_field SettingsInformation.server_pagination_count %}
                                {% bootstrap_field SettingsInformation.collapse_network_rules_when_accessing_server_rules %}
                                {% bootstrap_button button_type="submit" content="Update" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3">
            <div class="card bg-dark p-2">
                <div class="card-body">
                    <div class="m-3 mt-1 p-1">
                        <div class="text-white">
                            <header class="fs-5">Discord Bot</header>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="w-50">
                            {% bootstrap_field SettingsInformation.discord_guild %}
                            {% bootstrap_field SettingsInformation.discord_global_announcement_channel %}
                            {% bootstrap_field SettingsInformation.discord_staff_role %}
                            {% bootstrap_button button_type="submit" content="Update" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3">
            <div class="card bg-dark p-2">
                <div class="card-body">
                    <div class="m-3 mt-1 p-1">
                        <div class="text-white">
                            <header class="fs-5">Donations</header>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="w-50">
                            {% bootstrap_field SettingsInformation.stripe_enabled %}
                            {% bootstrap_field SettingsInformation.paypal_enabled %}
                            {% bootstrap_field SettingsInformation.donation_currency %}
                            {% bootstrap_field SettingsInformation.donation_goal %}
                            {% bootstrap_field SettingsInformation.show_donation_goal %}
                            {% bootstrap_field SettingsInformation.show_recent_donators %}
                            {% bootstrap_field SettingsInformation.send_donation_email %}
                            {% bootstrap_button button_type="submit" content="Update" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3">
            <div class="card bg-dark p-2">
                <div class="card-body">
                    <div class="m-3 mt-1 p-1">
                        <div class="text-white">
                            <header class="fs-5">Colors</header>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="w-50">
                            {% bootstrap_field SettingsInformation.main_color %}
                            {% bootstrap_field SettingsInformation.use_main_color %}
                            {% bootstrap_field SettingsInformation.secondary_color %}
                            {% bootstrap_field SettingsInformation.use_secondary_color %}
                            {% bootstrap_button button_type="submit" content="Update" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="m-3">
        <div class="card bg-dark p-2">
            <div class="card-body">
                <div class="m-3 mt-1 p-1">
                    <div class="text-white">
                        <header class="fs-5">Images</header>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="w-50">
                        <form class="form"
                            enctype="multipart/form-data" 
                            hx-post="{% url 'panel:settings_files_update'%}"
                            hx-swap='none'
                        > 
                            {% csrf_token %}  
                            {% bootstrap_form SettingsInformationFiles %}
                            {% bootstrap_button button_type="submit" content="Update" %}

                        </form>
                        <hr>
                        <p class="fs-5 text-center">
                            Current Files
                        </p>
                        <div class="d-flex justify-content-center">
                            <img class="m-3 w-25"
                                 src="{% if site_information.branding_image %}{{ site_information.branding_image.url }}{% endif %}"
                                 alt="No Brand Image"
                                 data-bs-toggle="tooltip"
                                 data-bs-html="true"
                                 data-bs-title="Brand Image">

                            <img class="m-3 w-25"
                                 src="{% if site_information.background_image %}{{ site_information.background_image.url }}{% endif %}"
                                 alt="No Background Image"
                                 data-bs-toggle="tooltip"
                                 data-bs-html="true"
                                 data-bs-title="Background Image">

                            <img class="m-3 w-25"
                                 src="{% if site_information.avatar_image %}{{ site_information.avatar_image.url }}{% endif %}"
                                 alt="No Avatar Image"
                                 data-bs-toggle="tooltip"
                                 data-bs-html="true"
                                 data-bs-title="Avatar Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-3">
        <div class="card bg-dark p-2">
            <div class="card-body">
                <div class="m-3 mt-1 p-1">
                    <div class="text-white">
                        <header class="fs-5">Default Pages</header>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="w-50">
                        <form class="form"
                            enctype="multipart/form-data" 
                            hx-post="{% url 'panel:settings_default_pages'%}"
                            hx-swap='none'
                        > 
                            {% csrf_token %}  
                            {% bootstrap_form SettingsDefaultPages %}
                            {% bootstrap_button button_type="submit" content="Update" %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    try {
        tooltipTriggerList
    } catch (error) {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    }
</script>
