{% extends "admin/index.html" %}

{% load static %}

{% block title %}Control Panel | {{ jazzmin_settings.site_title }}{% endblock %}

{% block extrahead %}
<script src="{% static 'javascript/src/dep/htmx.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/raptormc.css' %}">
{% endblock %}

{% block page_actions %}{% endblock %}

{% block page_content %}

<div class="m-5 mt-4 p-5">
    <div class="text-white">
        <header class="fs-3">Control Panel</header>
        <p class="fs-5">
            Here you can execute certain actions pertaining to the Discord Bot and Servers.
        </p>
    </div>
    <hr>
    <div class="text-center text-white">
        <div id="action_status"></div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        
        {% include "raptormc/panel/botactions.html" %}
        {% include "raptormc/panel/serveractions.html" %}

    </div>
</div>

<div class="m-5 mt-2 p-5 container-flex">
    {% include "raptormc/panel/gameservers_statistics.html" %}
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'javascript/src/dep/bootstrap.bundle.min.js' %}"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}
