<div class="dropdown m-2">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Server Import/Export
    </button>
    <ul class="dropdown-menu bg-transparent border-0">
        <li class="dropdown-item">
            <form>
                {% csrf_token %}
                <a role="button" class="btn btn-danger p-1 w-100"
                hx-post="{% url 'gameservers:action_import_server_data' %}" hx-target="#action_status"
                data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="WARNING: Ensure that you do not have any duplicate servers in the database. This can be a destructive action if so!<br><br>
                Import Servers from a server_data_full.json located in the app's root directory.">Import Servers
                </a>
            </form>
        </li>
        <li class="dropdown-item">
            <form>
                {% csrf_token %}
                <a role="button" class="btn btn-success p-1 w-100"
                hx-post="{% url 'gameservers:action_export_server_data' %}" hx-target="#action_status"
                data-bs-toggle="tooltip" data-bs-title="Export Servers to a server_data_full.json located in the app's root directory.">Export Servers
                </a>
            </form>
        </li>
    </ul>
</div>
