{% load markdownStrip %}

{% autoescape off %}
<div id="global_announcement_container">
    <div class="pagination d-flex align-items-center justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a role="button" class="btn btn-secondary"
                   hx-get="{% url 'raptorbot:global_announcements_list_dark' %}?page=1"
                   hx-target="#global_announcement_container"
                >
                    &laquo; First
                </a>
                <a role="button" class="btn btn-secondary"
                   hx-get="{% url 'raptorbot:global_announcements_list_dark' %}?page={{ page_obj.previous_page_number }}"
                   hx-target="#global_announcement_container"
                >
                    Previous
                </a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a role="button" class="btn btn-secondary"
                   hx-get="{% url 'raptorbot:global_announcements_list_dark' %}?page={{ page_obj.next_page_number }}"
                   hx-target="#global_announcement_container"
                >
                    Next
                </a>
                <a role="button" class="btn btn-secondary"
                   hx-get="{% url 'raptorbot:global_announcements_list_dark' %}?page={{ page_obj.paginator.num_pages }}"
                   hx-target="#global_announcement_container"
                >
                    Last &raquo;
                </a>
            {% endif %}
        </span>
    </div>
    
    {% for object in page_obj %}
    <div>
        <div class="pageContent card bg-dark text-white opacity-100 mt-4 mb-4">
            <p class="pageContent p-4">
                {{ object.message|strip_markdown|strip_tags|https_to_discord|linebreaksbr }}
            </p>
            <p class="pageHeader card-footer opacity-75 mb-0 fw-bold">
                By: {{ object.author }} on {{ object.date }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endautoescape %}
