{% load static %}

{% if server_query_enabled %}

  <div id='player_count_modal' hx-swap-oob="innerHTML: #player_count_modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content bg-dark text-white">
        <button class="btn-close btn-close-white p-3 mb-0 fs-6" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body pt-0">
          <div id='current_player_list'>
            {% for server in server_list reversed %}
              {% if forloop.counter0 != 0 %}
              <hr>
              {% endif %}
              <h5 class="fs-4 text-center text-decoration-underline mb-3">{{ server.modpack_name}}</h5>
              <span class="fs-6 d-block text-center">
              {% for player in object_list %}
                {% if player.server == server %}
                {{ player.name }}{% if not forloop.last %},{% endif %}
                {% endif %}
              {% endfor %}
              </span>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>

  <span id="total_count" hx-swap-oob="innerHTML: #total_count">
    {{ stat_object.total_player_count }}
  </span>

{% endif %}
