{% load static %}
{% load serverContext %}

{% if server_query_enabled %}
<div class="modal fade" id="playerNames" tabindex="-1" aria-labelledby="Online Player Names" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content bg-dark text-white">
        <button type="button" class="btn-close btn-close-white p-3 mb-0 fs-6" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body pt-0">
          
          {% for server in server_info reversed %} 
            {% if forloop.counter0 != 0 %}
            <hr>
            {% endif %}
            <h5 class="fs-4 text-center text-decoration-underline mb-3">{{ server|get_modpack_name}}</h5>
            {% if server|get_player_names %}
            <span class="fs-6 d-block text-center">{{ server|get_player_names|join:", "}}</span>
            {% else %}
            <span class="fs-6 d-block text-center">No players online</span>
            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
</div>

<button class="mt-auto btn btn-lg btn-dark mb-3" data-bs-toggle="modal" data-bs-target="#playerNames" id="totalPlayers">
    <aside class="fs-4 text-white opacity-75 p-3 pt-0 pb-0" >Currently Playing: <span id="total_count" class="fs-1">
    {{ totalCount }}</span></aside>
    <aside class="fs-6 text-white opacity-75 p-3 pt-0 pb-0">Click to view players!</aside>
</button>
<span id="spacer" class="mt-auto"></span>
{% else %}
{% endif %}