{% for server in object_list %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="{{ server.pk }}Rules">
      <a id="{{ server.pk }}"></a>
      <button class="accordion-button collapsed pageHeader text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ server.pk }}" aria-expanded="true" aria-controls="collapse{{ server.pk }}">
        {{ server.modpack_name }} Rules
      </button>
    </h2>
    <div id="collapse{{ server.pk }}" class="accordion-collapse collapse" aria-labelledby="collapse{{ server.pk }}">
      <div class="accordion-body pageContent p-4">
        {{ server.server_rules|safe }}
      </div>
    </div>
  </div>
{% endfor %}