{% load markdownStrip %}
{% load serverContext %}

{% autoescape off %}
{% for server in server_info reversed %}
<div class="accordion-item">
    <h2 class="accordion-header" id="{{ server|get_key }}Announcements">
    <a id="{{ server|get_key }}"></a>
    <div class="container-flex d-flex">
        <button class="accordion-button collapsed pageHeader text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ server|get_key }}" aria-expanded="true" aria-controls="collapse{{ server|get_key }}">
        {{ server|get_modpack_name }} Announcements
        </button>
        <span class="badge bg-dark">{{ server|get_announcement_count }}</span>
    </div>
    </h2>
    <div id="collapse{{ server|get_key }}" class="accordion-collapse collapse" aria-labelledby="collapse{{ server|get_key }}">
    <div class="accordion-body pageContent p-3">
        {% for key, items in server.items %}
        {% for message in items.announcements %}
            <div>
            <div class="pageContent card bg-dark text-white opacity-100 mt-4 mb-4">
                <p class="pageContent p-4">{{ message|get_message|strip_markdown|strip_discord|https_to_discord|linebreaksbr }}</p>
                <p class="pageHeader card-footer opacity-75 mb-0 fw-bold">By: {{ message|get_author }} on {{ message|get_date }}</p>
            </div>
            </div>
        {% endfor %}
        {% endfor %}
    </div>
    </div>
</div>
{% endfor %}
{% endautoescape %}