{% load static %}
{% load serverContext %}

{% for server in server_info reversed %} 

    {% if server == 'view' or server == 'totalCount' %}
    {% else %}
                    
    <span id="serverButton" class="fade-in-button col-lg-12 col-6 mt-1"><button class="btn btn-dark fs-4 d-flex mt-2" data-bs-toggle="modal" data-bs-target="#{{ server|get_key }}Info">
        <img class="w-100 fade-in" src="/media/modpack_pictures/{{ server|get_key}}.webp" alt="{{ server|get_modpack_name }}">
        {% if server|get_maintenance %}
        <img class="indicatorImage p-2 fade-in" src="{% static 'image/maintenance_indicator.webp' %}">
        {% else %}
        {% if server|get_state %}
        <img class="indicatorImage p-2 fade-in" src="{% static 'image/online_indicator.webp' %}">
        {% else %}
        <img class="indicatorImage p-2 fade-in" src="{% static 'image/offline_indicator.webp' %}">
        {% endif %}
        {% endif %}
    </button></span>

    {% endif %}

{% endfor %}
