{% load static %}

<div id="server_button" class="server_button row d-flex align-items-center justify-content-center" hx-get="/api/servers/html/server_button_poll" hx-trigger="load delay:0.3s" hx-target="#server_buttons" hx-swap="innerHTML">

 {% if page_obj.has_next %}
    <div class="pagination d-flex align-items-center justify-content-center">
        <span class="step-links d-flex align-items-center justify-content-center gap-2">
            <a role="button" class="btn btn-dark opacity-75 w-25"><img class="w-100" src="{% static 'image/three-dots.svg' %}" alt="..."></a>
            <a role="button" class="btn btn-dark opacity-75 w-25"><img class="w-100" src="{% static 'image/three-dots.svg' %}" alt="..."></a>
        </span>
    </div>
{% endif %}

<div class="{% if total_server_count > 1 %}row{% endif %} w-100 h-100">
    {% for server in page_obj %}
        {% if server_query_enabled %}
        <span id="serverButton" class="col-lg-12 col-6 opacity-50">
        {% else %}
        <span id="serverButton" class="col-lg-6 col-6 opacity-50">
        {% endif %}
        <button class="btn btn-dark fs-4 w-100 d-flex align-items-center justify-content-center mb-0 mt-2 w-100">
            <img id="loadingSpinnerButtons" src="{% static 'image/three-dots.svg' %}" alt="Loading..." class="align-middle opacity-75">
        </button>
        </span>
    {% endfor %}
</div>
