{% autoescape off %}
{% for server in object_list %}
<div class="accordion-item">
    <h2 class="accordion-header" id="{{ server.pk }}Announcements">
    <a id="{{ server.pk }}"></a>
    <div class="container-flex d-flex">
        <button class="accordion-button collapsed pageHeader text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ server.pk }}" aria-expanded="true" aria-controls="collapse{{ server.pk }}">
        {{ server.modpack_name }} Announcements
        </button>
        <div class="d-flex align-items-center justify-content-center"><div class="badge bg-dark w-25 d-flex align-items-center justify-content-center">{{ server.announcement_count }}</div></div>
    </div>
    </h2>
    <div id="collapse{{ server.pk }}" class="accordion-collapse collapse" aria-labelledby="collapse{{ server.pk }}">
    <div class="accordion-body pageContent p-3">
        <div hx-get="{% url 'raptorbot:server_announcements_list' server_pk=server.pk %}" hx-trigger="load" hx-target="#announcements_{{server.pk}}" hx-swap="innerHTML"></div>
        <div id="announcements_{{server.pk}}"></div>
    </div>
    </div>
</div>
{% endfor %}
{% endautoescape %}