{% load static %}

{% comment %} Server button Pagination {% endcomment %}
{% if page_obj.has_next or page_obj.has_previous%}
<div id="server_button_pagination" hx-swap-oob="outerHTML: #server_button_pagination">
    <div class="pagination d-flex align-items-center justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a role="button" class="btn btn-dark opacity-75"
                    hx-get="{% url 'gameservers:server_buttons_poll' %}?page=1"
                    hx-target="#server_button_container"
                >
                    &laquo; First
                </a>
                <a role="button" class="btn btn-dark opacity-75"
                    hx-get="{% url 'gameservers:server_buttons_poll' %}?page={{ page_obj.previous_page_number }}"
                    hx-target="#server_button_container"
                >
                    Previous
                </a>
            {% endif %}

            {% if page_obj.has_next %}
                <a role="button" class="btn btn-dark opacity-75"
                    hx-get="{% url 'gameservers:server_buttons_poll' %}?page={{ page_obj.next_page_number }}"
                    hx-target="#server_button_container"
                >
                    Next
                </a>
                <a role="button" class="btn btn-dark opacity-75"
                    hx-get="{% url 'gameservers:server_buttons_poll' %}?page={{ page_obj.paginator.num_pages }}"
                    hx-target="#server_button_container"
                >
                    Last &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}

{% comment %} Server button contents {% endcomment %}
{% for server in page_obj %} 
                    
    <div id="serverButton{{server.pk}}" hx-swap-oob="innerHTML: #serverButton{{server.pk}}"
         x-init="loaded=true"
    >
        {% if server.modpack_picture %}
        <img class="{% if server_query_enabled %}w-75 {% else %}w-100 {% endif %}fade-in"
            src="/media/{{server.modpack_picture}}"
            alt="{{ server.modpack_name }}">
        {% else %}
        <div class="{% if server_query_enabled %}w-75 {% else %}w-100 {% endif %}fade-in">
            {{ server.modpack_name }}
        </div>
        {% endif %}
        {% if server_query_enabled %}
        {% if server.in_maintenance %}
        <img class="w-25 indicatorImage p-2 fade-in"
            src="{% static 'image/maintenance_indicator.svg' %}"
            alt="Maintenance"
            {% if server_maintenance_message|length > 0 %}
                data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-title="{{ server_maintenance_message }}">
            {% endif %}
        {% else %}
        {% if server.server_state %}
        <img class="w-25 indicatorImage p-2 fade-in"
            src="{% static 'image/online_indicator.svg' %}"
            alt="Online"
            {% if server_online_message|length > 0 %}
                data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-title="{{ server_online_message }}">
            {% endif %}
        {% else %}
        <img class="w-25 indicatorImage p-2 fade-in"
            src="{% static 'image/offline_indicator.svg' %}"
            alt="Offline"
            {% if server_offline_message|length > 0 %}
                data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-title="{{ server_offline_message }}">
            {% endif %}
        {% endif %}
        {% endif %}
        {% else %}
        {% endif %}
    </div>

{% endfor %}

<div id="initTooltip" hx-swap-oob="innerHTML: #initTooltip">
    <script>
        try {
            tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        } catch (error) {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        }
    </script>
</div>
