{% load serverContext %}

{% for server in object_list %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="{{ server.server_address|get_key }}Rules">
      <a id="{{ server.server_address|get_key }}"></a>
      <button class="accordion-button collapsed pageHeader text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ server.server_address|get_key }}" aria-expanded="true" aria-controls="collapse{{ server.server_address|get_key }}">
        {{ server.modpack_name }} Rules
      </button>
    </h2>
    <div id="collapse{{ server.server_address|get_key }}" class="accordion-collapse collapse" aria-labelledby="collapse{{ server.server_address|get_key }}">
      <div class="accordion-body pageContent p-4">
        {{ server.server_rules|safe }}
      </div>
    </div>
  </div>
{% endfor %}