{% load markdownStrip %}
{% load serverContext %}

{% autoescape off %}
{% for server in object_list %}
<div class="accordion-item">
    <h2 class="accordion-header" id="{{ server.server_address|get_key }}Announcements">
    <a id="{{ server.server_address|get_key }}"></a>
    <div class="container-flex d-flex">
        <button class="accordion-button collapsed pageHeader text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ server.server_address|get_key }}" aria-expanded="true" aria-controls="collapse{{ server.server_address|get_key }}">
        {{ server.modpack_name }} Announcements
        </button>
        <div class="d-block"><div class="badge bg-dark w-25 h-50 float-end d-block">{{ server.announcement_count }}</div></div>
    </div>
    </h2>
    <div id="collapse{{ server.server_address|get_key }}" class="accordion-collapse collapse" aria-labelledby="collapse{{ server.server_address|get_key }}">
    <div class="accordion-body pageContent p-3">
        <div hx-get="/raptorbot/server_announcements_list/?server_address={{server.server_address}}" hx-trigger="load" hx-target="#{{server.server_address|get_key}}_announcements" hx-swap="innerHTML"></div>
        <div id="{{server.server_address|get_key}}_announcements"></div>
    </div>
    </div>
</div>
{% endfor %}
{% endautoescape %}