{% if page_obj.has_next or page_obj.has_previous%}
    <div class="pagination d-flex align-items-center justify-content-center m-3">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a role="button" class="btn btn-dark opacity-75"
                    hx-get="/panel/api/html/panel/{{crud_url}}/list?page=1"
                    hx-target="#content_table_wrapper"
                >
                    &laquo; First
                </a>
                <a role="button" class="btn btn-dark opacity-75"
                    hx-get="/panel/api/html/panel/{{crud_url}}/list?page={{ page_obj.previous_page_number }}"
                    hx-target="#content_table_wrapper"
                >
                    Previous
                </a>
            {% endif %}

            <span class="current text-white">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a role="button" class="btn btn-dark opacity-75"
                    hx-get="/panel/api/html/panel/{{crud_url}}/list?page={{ page_obj.next_page_number }}"
                    hx-target="#content_table_wrapper"
                >
                    Next
                </a>
                <a role="button" class="btn btn-dark opacity-75"
                    hx-get="/panel/api/html/panel/{{crud_url}}/list?page={{ page_obj.paginator.num_pages }}"
                    hx-target="#content_table_wrapper"
                >
                    Last &raquo;
                </a>
            {% endif %}
        </span>
    </div>
{% endif %}
