<div class='d-flex justify-content-center gap-2 mb-5'>
    {% if submittedstaffapplication.approved == 'D' or submittedstaffapplication.approved == 'P' %}
        <form>
            {% csrf_token %}
            <button id="panel_maintenance_button_{{server.pk}}" class='btn btn-success'
                    hx-post="{% url 'staffapps:all_apps_approval' submittedstaffapplication.pk %}?status=approve"
                    hx-target="#panel_approval_button_replace_{{submittedstaffapplication.pk}}"
                    hx-swap'outerHTML'
                >
                Approve
            </button>
        </form>
    {% endif %}

    {% if submittedstaffapplication.approved == 'A' or submittedstaffapplication.approved == 'P' %}
        <form>
            {% csrf_token %}
            <button id="panel_maintenance_button_{{server.pk}}" class='btn btn-warning'
                    hx-post="{% url 'staffapps:all_apps_approval' submittedstaffapplication.pk %}?status=deny"
                    hx-target="#panel_approval_button_replace_{{submittedstaffapplication.pk}}"
                    hx-swap'outerHTML'
                >
                Deny
            </button>
        </form>
    {% endif %}
</div>
