{% extends 'raptormc/base.html' %}
{% load django_bootstrap5 %}
{% load markdownStrip %}
{% load serverContext %}

{% block page_title %}
<title>
  
  ShadowRaptor | Edit {{displayed_profile.base.username}}
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Edit {{displayed_profile.base.username}}" />
<meta property="og:description" content="Editing User Profile for {{displayed_profile.base.username}}" />
<meta property="og:url" content="https://shadowraptor.net/profile/{{displayed_profile.base.username}}/edit/" />
{% endblock %}

{% block main_block %}

{% if user.username == displayed_profile.base.username %}
    <div class="container">
        <header class="card bg-dark opacity-75 text-white p-4 mt-4">
            <h3 class="pageHeader fw-bold text-center">Edit Profile</h3>
            <p class="pageContent">Below you can edit certain details from your profile. Only edited fields will be submitted.</a></p>
        </header>
        
        {% if user.tag %}
            <section>

                <div class="card bg-dark p-3 mt-4 opacity-75 container text-white">
                    <form action="{% url 'raptormc:user_profile_edit' user.username %}" method="POST">

                    {% csrf_token %}
                    {% bootstrap_form profile_edit_form %}
                    {% bootstrap_button button_type="submit" content="Change Details" %}

                    </form>
                </div>

            </section>
        {% else %}
            <section>

                <div class="card bg-dark p-3 mt-4 opacity-75 container text-white">
                    <form action="{% url 'raptormc:user_profile_edit' user.username %}" enctype="multipart/form-data" method="POST">

                    {% csrf_token %}
                    {% bootstrap_form extra_edit_form %}
                    {% bootstrap_button button_type="submit" content="Change Details" %}

                    </form>
                </div>

            </section>
        {% endif %}
    
    </div>
{% else %}
    <div class="container">
        <header class="card bg-dark opacity-75 text-white p-4 mt-4">
            <h3 class="pageHeader fw-bold text-center">You do not have permission to manage this resource</h3>
            <p class="pageContent">Is this your account? <a href="{% url 'raptormc:login' %}">Sign in.</a></p>
        </header>
    </div>
{% endif %}

{% endblock %}