{% extends 'raptormc/base.html' %}
{% load django_bootstrap5 %}
{% load markdownStrip %}
{% load serverContext %}

{% block page_title %}
<title>
  
  ShadowRaptor | Edit {{displayed_profile.base.username}}
  
</title>
{% endblock %}
{% block metadata %}
<meta property="og:title" content="ShadowRaptor | Edit {{displayed_profile.base.username}}" />
<meta property="og:description" content="Editing User Profile for {{displayed_profile.base.username}}" />
<meta property="og:url" content="https://shadowraptor.net/profile/{{displayed_profile.base.username}}/edit/" />
{% endblock %}

{% block main_block %}

{% if user.username == displayed_profile.base.username %}
    <div class="container">
        <section>

        <div class="card bg-light p-3 mt-4 opacity-75 container">
            <form action="{% url 'raptormc:user_profile_edit' user.username %}" method="POST">

            {% csrf_token %}
            {% bootstrap_form profile_edit_form %}
            {% bootstrap_button button_type="submit" content="Change Details" %}

            </form>
        </div>

        </section>
        
        <div class="card">
            <p>
            Profile for: {{displayed_profile.base.username}}
            <br>
            Joined on: {{displayed_profile.base.date_joined}}
            <br>
            Last Active: {{displayed_profile.base.last_login}}
            <br>
            Is Staff: {{displayed_profile.base.is_staff|yesno|capfirst}}
            </p>
            <p>
            <img src="{{displayed_profile.extra.picture}}" alt="Profile Picture">
            <br>
            Minecraft Username: {{displayed_profile.extra.mc_username}}
            <br>
            Discord Username: {{displayed_profile.extra.discord_username}}
            <br>
            Favorite Modpack: {{displayed_profile.extra.favorite_pack|capfirst}}
            </p>
        </div>
    </div>
{% else %}
    <div class="container">
        <header class="card bg-dark opacity-75 text-white p-4 mt-4">
            <h3 class="pageHeader fw-bold text-center">You do not have permission to manage this resource</h3>
            <p class="pageContent">Is this your account? <a href="{% url 'raptormc:login' %}">Sign in.</a></p>
        </header>
    </div>
{% endif %}

{% endblock %}