{% load static %}

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header d-flex">
        <div class="row p-2 pt-1 pb-1 gap-2">
          {% if discord_guild %}
          <a class="col-3 col-sm-2 col-lg-1 btn btn-outline-secondary" role="button" data-bs-toggle="tooltip" 
          data-bs-title="{{ discord_guild.online_members }}/{{ discord_guild.total_members }} Members Online" href="{{ discord_guild.invite_link }}" target="_blank">
            <img id="discordBanner" src="{% static 'image/discord_banner.webp' %}" alt="Discord">
          </a>
          {% endif %}
          {% for widget in nav_widgets %}
          {% if not widget.parent_bar %}
          <a class="col-3 col-sm-2 col-lg-1 btn btn-outline-secondary" role="button"
            href="{% if widget.linked_page %}{{widget.linked_page.get_absolute_url}}{% else %}{{widget.url}}{% endif %}"{% if widget.new_tab%} target="_blank">{%else%}>{% endif %}
            {% if widget.nav_image %}<img class="w-100" id="widget_{{widget.pk}}_banner" src="/media/{{ widget.nav_image }}" alt="{{widget.name}}">{% else %}<span>{{widget.name}}</span>{% endif %}
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </nav>

  {% for widget_bar in nav_widget_bars %}
  <nav id="widgetbar_{{widget_bar.pk}}" class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header d-flex">
        <div class="row p-2 pt-1 pb-1 gap-2">
          {% for widget in nav_widgets %}
          {% if widget.parent_bar %}
          <a class="col-3 col-sm-2 col-lg-1 btn btn-outline-secondary" role="button"
            href="{% if widget.linked_page %}{{widget.linked_page.get_absolute_url}}{% else %}{{widget.url}}{% endif %}"{% if widget.new_tab%} target="_blank">{%else%}>{% endif %}
            {% if widget.nav_image %}<img class="w-100" id="widget_{{widget.pk}}_banner" src="/media/{{ widget.nav_image }}" alt="{{widget.name}}">{% else %}<span>{{widget.name}}</span>{% endif %}
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </nav>
  {% endfor %}