{% load static %}

<div class="offcanvas bg-dark offcanvas-start" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNav">
    <div class="offcanvas-header text-white">
      <h5 class="offcanvas-title text-center" id="offcanvasNavLabel">Navigation</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="m-4"></div>
    <div class="offcanvas-body text-white">
      <div class="navbar-collapse text-center">
        <ul class="navbar-nav me-auto mt-2 mb-2 mb-lg-0">

          {% if default_pages.announcements %}<li class="btn btn-secondary m-2 p-2"> 
            <a class="nav-link active text-white text-nowrap fs-5" href="{% url 'raptormc:announcements' %}">Announcements</a> 
          </li>{% endif %}
          
          {% if default_pages.rules %}<li class="btn btn-secondary m-2 p-2"> 
            <a class="nav-link active text-white text-nowrap fs-5" href="{% url 'raptormc:rules' %}">Rules</a> 
          </li>{% endif %}

          {% if default_pages.banned_items %}<li class="btn btn-secondary m-2 p-2">
            <a class="nav-link text-white text-nowrap fs-5" href="{% url 'raptormc:banned_items' %}">Banned Items</a>
          </li>{% endif %}

          {% if default_pages.voting %}<li class="btn btn-secondary m-2 p-2">
            <a class="nav-link text-white text-nowrap fs-5" href="{% url 'raptormc:voting' %}">Vote for Us</a>
          </li>{% endif %}

          {% if default_pages.joining %}<li class="btn btn-secondary m-2 p-2">
            <a class="nav-link text-white text-nowrap fs-5" href="{% url 'raptormc:joining' %}">How to Join</a>
          </li>{% endif %}
          
          {% if default_pages.staff_apps %}<li class="btn btn-secondary m-2 p-2">
            <a class="nav-link text-white text-nowrap fs-5" href="{% url 'raptormc:staff_apps' %}">Staff Applications</a>
          </li>{% endif %}

          {% if default_pages.members %}<li class="btn btn-secondary m-2 p-2">
            <a class="nav-link text-white text-nowrap fs-5" href="{% url 'raptormc:site_members' %}">Site Members</a>
          </li>{% endif %}

          {% for link in nav_links %}
          {% if not link.parent_dropdown %}
          <li class="btn btn-secondary m-2 p-2">
            <a class="nav-link text-white text-nowrap fs-5" 
            href="{% if link.linked_page %}{{ link.get_linked_page_url }}{% else %}{{ link.url }}{% endif %}" {% if link.new_tab %}target="_blank"{% endif %}>{{link.name}}
              {% if link.new_tab %}<img class="new_tab_icon filter-white" src="{% static 'image/new_tab_white.svg' %}" alt="Opens in new tab">{% endif %}
            </a>
          </li>
          {% endif %}
          {% endfor %}

          {% for dropdown in nav_dropdowns %}
          <li class="btn btn-secondary m-2 p-2 dropdown">
            <a class="nav-link dropdown-toggle text-white fs-5" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ dropdown.name }}</a>
            <ul class="dropdown-menu bg-dark text-center">
              {% for nested_link in dropdown.enabled_links_in_dropdown %}
              <li>
                <a class="dropdown-item text-white" href="{% if nested_link.linked_page %}{{ nested_link.get_linked_page_url }}{% else %}{{ nested_link.url }}{% endif %}" {% if nested_link.new_tab %}target="_blank"{% endif %}>{{nested_link.name}}
                  {% if nested_link.new_tab %}<img class="new_tab_icon" src="{% static 'image/new_tab_white.svg' %}" alt="Opens in new tab">{% endif %}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
